{
  "openapi": "3.1.0",
  "info": {
    "title": "Shopsynch API",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://api.shopsynch.com"
    }
  ],
  "tags": [
    {
      "name": "ProductVariantGroupController",
      "description": "Manages variant groups and their SKUs for V2 products.\n\n&lt;p&gt;All endpoints are scoped under {@code /v2/products/{productId}/variant-groups}.\nV1 variation endpoints ({@code /v1/products/variation/*}) are NOT affected."
    },
    {
      "name": "ProductTemplateController",
      "description": "Product Template Management"
    },
    {
      "name": "MerchantBankAccountController",
      "description": "MerchantBankAccountController"
    },
    {
      "name": "VariationOptionController",
      "description": "VariationOptionController"
    },
    {
      "name": "LocationController",
      "description": "LocationController"
    },
    {
      "name": "LocalGovernmentController",
      "description": "LocalGovernmentController"
    },
    {
      "name": "SocialAuthController",
      "description": "SocialAuthController"
    },
    {
      "name": "OrderLogisticController",
      "description": "OrderLogisticController"
    },
    {
      "name": "OrderController",
      "description": "Order Management"
    },
    {
      "name": "ComplianceController",
      "description": "Tenant Compliance Management"
    },
    {
      "name": "ChangePasswordController",
      "description": "Change Password Management (authenticated)"
    },
    {
      "name": "PaymentGatewayController",
      "description": "Payment Gateway"
    },
    {
      "name": "CustomerAuthController",
      "description": "Customer Authentication"
    },
    {
      "name": "CartV2Controller",
      "description": "Cart Management V2"
    },
    {
      "name": "StatSnapshotController",
      "description": "StatSnapshotController"
    },
    {
      "name": "TenantStoreController",
      "description": "TenantStoreController"
    },
    {
      "name": "ProductVariationPriceDetailController",
      "description": "ProductVariationPriceDetailController"
    },
    {
      "name": "BrandController",
      "description": "BrandController"
    },
    {
      "name": "AdminAppSettingController",
      "description": "Admin – Global App Setting Management"
    },
    {
      "name": "TenantCategoryController",
      "description": "Tenant Category Management"
    },
    {
      "name": "QAController",
      "description": "QAController"
    },
    {
      "name": "UserController",
      "description": "UserController"
    },
    {
      "name": "CategoryController",
      "description": "CategoryController"
    },
    {
      "name": "PaymentMethodController",
      "description": "Payment Method Management"
    },
    {
      "name": "ProductStatsController",
      "description": "ProductStatsController"
    },
    {
      "name": "VariationController",
      "description": "VariationController"
    },
    {
      "name": "PaymentController",
      "description": "Payment Management"
    },
    {
      "name": "BankController",
      "description": "BankController"
    },
    {
      "name": "ColorController",
      "description": "ColorController"
    },
    {
      "name": "AdminInventoryController",
      "description": "Internal admin endpoints for inventory management.\nThese endpoints are not exposed to merchant users."
    },
    {
      "name": "MerchantAppSettingController",
      "description": "Merchant – Tenant App Setting Management"
    },
    {
      "name": "PromotionController",
      "description": "Promotion management."
    },
    {
      "name": "CommunicationMessageTemplateController",
      "description": "Compliance RejectionTemplate Controller"
    },
    {
      "name": "CustomerController",
      "description": "CustomerController"
    },
    {
      "name": "OrderStatusHistoryController",
      "description": "Order Status History Management"
    },
    {
      "name": "AppTokenController",
      "description": "App Token Management"
    },
    {
      "name": "InventoryController",
      "description": "Inventory Management\nManage stock levels across warehouses, track inventory movements, and view\nlow-stock items.\nAll operations are tenant-scoped and require merchant access."
    },
    {
      "name": "AdminCacheController",
      "description": "Admin Cache Management"
    },
    {
      "name": "LogisticController",
      "description": "LogisticController"
    },
    {
      "name": "PaymentLinkController",
      "description": "PaymentLinkController"
    },
    {
      "name": "SpecificationController",
      "description": "Specification Management"
    },
    {
      "name": "AdminComplianceController",
      "description": "Admin Compliance Management"
    },
    {
      "name": "ReviewController",
      "description": "ReviewController"
    },
    {
      "name": "MerchantController",
      "description": "Merchant Management"
    },
    {
      "name": "PaystackWebhookController",
      "description": "PaystackWebhookController"
    },
    {
      "name": "ForgotPasswordController",
      "description": "Forgot Password Management (Unauthenticated)"
    },
    {
      "name": "TenantRoleController",
      "description": "Merchant-accessible APIs for roles and permissions within a specific store.\n\nThese endpoints are tenant-scoped: the caller must be the store owner or\na member with the CAN_READ_ROLE permission. Admin-only roles and\nnon-merchant-visible permissions are automatically excluded from responses."
    },
    {
      "name": "ConfigController",
      "description": "Tenant Configuration Management"
    },
    {
      "name": "AnalyticsController",
      "description": "AnalyticsController"
    },
    {
      "name": "AdminAuthController",
      "description": "Admin Authentication."
    },
    {
      "name": "AddressController",
      "description": "AddressController"
    },
    {
      "name": "AdminDashboardController",
      "description": "Admin Platform Dashboard"
    },
    {
      "name": "PasswordlessAuthController",
      "description": "Password-less Authentication."
    },
    {
      "name": "EmailPreviewController",
      "description": "EmailPreviewController"
    },
    {
      "name": "TenantMemberController",
      "description": "Team Management APIs"
    },
    {
      "name": "ProductV2Controller",
      "description": "V2 Product Management — supports all product types (SIMPLE, VARIABLE, DIGITAL, BUNDLE)."
    },
    {
      "name": "MonnifyWebhookController",
      "description": "MonnifyWebhookController"
    },
    {
      "name": "StateController",
      "description": "StateController"
    },
    {
      "name": "RoleController",
      "description": "RoleController"
    },
    {
      "name": "AdminUserController",
      "description": "Admin User Management"
    },
    {
      "name": "CustomerOrderController",
      "description": "Customer Order Management"
    },
    {
      "name": "NotificationController",
      "description": "Notification Management"
    },
    {
      "name": "TenantInvitationController",
      "description": "Tenant Member Invitation Management APIs"
    },
    {
      "name": "WhatsAppWebhookController",
      "description": "WhatsAppWebhookController"
    },
    {
      "name": "ProductVariationController",
      "description": "Product Variation Management (Authenticated)"
    },
    {
      "name": "ProductController",
      "description": "Product Management"
    },
    {
      "name": "PromoAdController",
      "description": "Promo Ad API"
    },
    {
      "name": "AuthController",
      "description": "Authentication."
    },
    {
      "name": "CartSessionController",
      "description": "CartSessionController"
    },
    {
      "name": "HomeController",
      "description": "HomeController"
    },
    {
      "name": "FileController",
      "description": "File Management (File Upload)"
    },
    {
      "name": "DashboardController",
      "description": "DashboardController"
    },
    {
      "name": "CartController",
      "description": "Cart Management"
    },
    {
      "name": "CountryController",
      "description": "CountryController"
    },
    {
      "name": "CheckoutLinkController",
      "description": "CheckoutLinkController"
    },
    {
      "name": "EmailVerificationController",
      "description": "Email Verification"
    },
    {
      "name": "WarehouseController",
      "description": "WarehouseController"
    },
    {
      "name": "WhatsAppAuthController",
      "description": "Whatsapp Authentication"
    },
    {
      "name": "AdminMerchantController",
      "description": "Admin Merchant Management"
    },
    {
      "name": "DeliveryZoneController",
      "description": "Delivery Zone Management"
    }
  ],
  "paths": {
    "/v1/products/variation/priceDetail/{variationPriceDetailId}": {
      "patch": {
        "summary": "updateProductVariationPriceDetail",
        "deprecated": false,
        "description": "",
        "tags": [
          "ProductVariationPriceDetailController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"productId\": \"\",\n  \"variationId\": \"\",\n  \"price\": 0,\n  \"newPrice\": 0,\n  \"ramSize\": \"\",\n  \"Storage\": \"\",\n  \"size\": \"\",\n  \"sku\": \"\",\n  \"quantityInStock\": 0,\n  \"discount\": 0\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/16f8fb1e4ec156cb940bb2159ea00225"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\"status\":true,\"message\":\"\",\"data\":{\"id\":\"\",\"name\":\"\",\"slug\":\"\",\"description\":\"\",\"summary\":\"\",\"image\":\"\",\"thumbnail\":\"\",\"images\":[\"\"],\"price\":0,\"newPrice\":0,\"ramSize\":\"\",\"storage\":\"\",\"size\":\"\",\"quantity\":0,\"brand\":\"\",\"discount\":0,\"category\":\"\",\"color\":\"\",\"customColor\":\"\",\"specifications\":[{\"key\":\"\",\"value\":\"\"}],\"variations\":[{\"id\":\"\",\"attributeName\":\"\",\"attributeValue\":\"\",\"color\":{\"id\":\"\",\"name\":\"\",\"code\":\"\"},\"customColor\":\"\",\"image\":\"\",\"productPriceDetails\":[{\"id\":\"\",\"price\":0,\"newPrice\":0,\"ramSize\":\"\",\"storage\":\"\",\"size\":\"\",\"sku\":\"\",\"quantityInStock\":0,\"discount\":0,\"variationAttributes\":{\"mapKey1\":\"\",\"mapKey2\":\"\"}\"weightKg\":0}]}],\"features\":[\"\"],\"createdAt\":\"yyyy-MM-dd HH:mm:ss\"}}"
                  }
                }
              }
            }
          }
        },
        "operationId": "updateProductVariationPriceDetail",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "variationPriceDetailId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/products/variation/priceDetail": {
      "post": {
        "summary": "addProductVariationPriceDetail",
        "deprecated": false,
        "description": "",
        "tags": [
          "ProductVariationPriceDetailController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/0f07ca357c71af91bc3073293f89bea6"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"productId\": \"\",\n  \"variationId\": \"\",\n  \"price\": 0,\n  \"newPrice\": 0,\n  \"ramSize\": \"\",\n  \"Storage\": \"\",\n  \"size\": \"\",\n  \"sku\": \"\",\n  \"quantityInStock\": 0,\n  \"discount\": 0\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/16f8fb1e4ec156cb940bb2159ea00225"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\"status\":true,\"message\":\"\",\"data\":{\"id\":\"\",\"name\":\"\",\"slug\":\"\",\"description\":\"\",\"summary\":\"\",\"image\":\"\",\"thumbnail\":\"\",\"images\":[\"\"],\"price\":0,\"newPrice\":0,\"ramSize\":\"\",\"storage\":\"\",\"size\":\"\",\"quantity\":0,\"brand\":\"\",\"discount\":0,\"category\":\"\",\"color\":\"\",\"customColor\":\"\",\"specifications\":[{\"key\":\"\",\"value\":\"\"}],\"variations\":[{\"id\":\"\",\"attributeName\":\"\",\"attributeValue\":\"\",\"color\":{\"id\":\"\",\"name\":\"\",\"code\":\"\"},\"customColor\":\"\",\"image\":\"\",\"productPriceDetails\":[{\"id\":\"\",\"price\":0,\"newPrice\":0,\"ramSize\":\"\",\"storage\":\"\",\"size\":\"\",\"sku\":\"\",\"quantityInStock\":0,\"discount\":0,\"variationAttributes\":{\"mapKey1\":\"\",\"mapKey2\":\"\"}\"weightKg\":0}]}],\"features\":[\"\"],\"createdAt\":\"yyyy-MM-dd HH:mm:ss\"}}"
                  }
                }
              }
            }
          }
        },
        "operationId": "addProductVariationPriceDetail",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v2/product-templates": {
      "post": {
        "summary": "Create a product template",
        "deprecated": false,
        "description": "Creates a tenant override when tenantId is supplied, or a system default when omitted.",
        "tags": [
          "ProductTemplateController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/a0e0362616560d2cdc66532e1005c6ac"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"name\": \"\",\n  \"categoryId\": \"\",\n  \"tenantId\": \"\",\n  \"productTypes\": [\n    \"SIMPLE\"\n  ],\n  \"attributeDefinitions\": [\n    {\n      \"key\": \"\",\n      \"label\": \"\",\n      \"type\": \"STRING\",\n      \"options\": [\n        \"\"\n      ],\n      \"unit\": \"\",\n      \"required\": true,\n      \"variantDimension\": true,\n      \"filterable\": true,\n      \"displayAs\": \"TEXT\",\n      \"section\": \"\",\n      \"displayOrder\": 0,\n      \"placeholder\": \"\"\n    }\n  ]\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/55407b34fa5b6408ade6d93302d03a22"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"id\": \"\",\n    \"name\": \"\",\n    \"categoryId\": \"\",\n    \"tenantId\": \"\",\n    \"productTypes\": [\n      \"SIMPLE\"\n    ],\n    \"attributeDefinitions\": [\n      {\n        \"key\": \"\",\n        \"label\": \"\",\n        \"type\": \"STRING\",\n        \"options\": [\n          \"\"\n        ],\n        \"unit\": \"\",\n        \"required\": true,\n        \"variantDimension\": true,\n        \"filterable\": true,\n        \"displayAs\": \"TEXT\",\n        \"section\": \"\",\n        \"displayOrder\": 0,\n        \"placeholder\": \"\"\n      }\n    ],\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\"\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "create",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "get": {
        "summary": "List product templates",
        "deprecated": false,
        "description": "Returns all templates. Filter by categoryId to get the schema for a specific category.  Omit tenantId to get system defaults only.",
        "tags": [
          "ProductTemplateController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/f8d0acd01e9b0e217a70d899fa062163"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"name\": \"\",\n      \"categoryId\": \"\",\n      \"tenantId\": \"\",\n      \"productTypes\": [\n        \"SIMPLE\"\n      ],\n      \"attributeDefinitions\": [\n        {\n          \"key\": \"\",\n          \"label\": \"\",\n          \"type\": \"STRING\",\n          \"options\": [\n            \"\"\n          ],\n          \"unit\": \"\",\n          \"required\": true,\n          \"variantDimension\": true,\n          \"filterable\": true,\n          \"displayAs\": \"TEXT\",\n          \"section\": \"\",\n          \"displayOrder\": 0,\n          \"placeholder\": \"\"\n        }\n      ],\n      \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n      \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\"\n    }\n  ]\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "listTemplates",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "categoryId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": false,
            "name": "systemOnly"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v2/product-templates/by-category/{categoryId}": {
      "get": {
        "summary": "Get effective template for a category",
        "deprecated": false,
        "description": "Returns the tenant-specific override if it exists, otherwise the system default.  \nReturns 404 if no template is configured for this category.",
        "tags": [
          "ProductTemplateController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/55407b34fa5b6408ade6d93302d03a22"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"id\": \"\",\n    \"name\": \"\",\n    \"categoryId\": \"\",\n    \"tenantId\": \"\",\n    \"productTypes\": [\n      \"SIMPLE\"\n    ],\n    \"attributeDefinitions\": [\n      {\n        \"key\": \"\",\n        \"label\": \"\",\n        \"type\": \"STRING\",\n        \"options\": [\n          \"\"\n        ],\n        \"unit\": \"\",\n        \"required\": true,\n        \"variantDimension\": true,\n        \"filterable\": true,\n        \"displayAs\": \"TEXT\",\n        \"section\": \"\",\n        \"displayOrder\": 0,\n        \"placeholder\": \"\"\n      }\n    ],\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\"\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getForCategory",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "categoryId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v2/product-templates/{id}": {
      "get": {
        "summary": "Get product template by ID",
        "deprecated": false,
        "description": "Returns the template if it exists, otherwise throws a 404 error.",
        "tags": [
          "ProductTemplateController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/55407b34fa5b6408ade6d93302d03a22"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"id\": \"\",\n    \"name\": \"\",\n    \"categoryId\": \"\",\n    \"tenantId\": \"\",\n    \"productTypes\": [\n      \"SIMPLE\"\n    ],\n    \"attributeDefinitions\": [\n      {\n        \"key\": \"\",\n        \"label\": \"\",\n        \"type\": \"STRING\",\n        \"options\": [\n          \"\"\n        ],\n        \"unit\": \"\",\n        \"required\": true,\n        \"variantDimension\": true,\n        \"filterable\": true,\n        \"displayAs\": \"TEXT\",\n        \"section\": \"\",\n        \"displayOrder\": 0,\n        \"placeholder\": \"\"\n      }\n    ],\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\"\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getById",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "delete": {
        "summary": "Delete a product template",
        "deprecated": false,
        "description": "Deletes the template with the given ID.  Throws a 404 error",
        "tags": [
          "ProductTemplateController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/b050c18517627f8783fcd8a207f82029"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {}\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "delete",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "put": {
        "summary": "Update a product template",
        "deprecated": false,
        "description": "Updates the template with the given ID.  Throws a 404 error if the template does not exist.",
        "tags": [
          "ProductTemplateController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/a0e0362616560d2cdc66532e1005c6ac"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"name\": \"\",\n  \"categoryId\": \"\",\n  \"tenantId\": \"\",\n  \"productTypes\": [\n    \"SIMPLE\"\n  ],\n  \"attributeDefinitions\": [\n    {\n      \"key\": \"\",\n      \"label\": \"\",\n      \"type\": \"STRING\",\n      \"options\": [\n        \"\"\n      ],\n      \"unit\": \"\",\n      \"required\": true,\n      \"variantDimension\": true,\n      \"filterable\": true,\n      \"displayAs\": \"TEXT\",\n      \"section\": \"\",\n      \"displayOrder\": 0,\n      \"placeholder\": \"\"\n    }\n  ]\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/55407b34fa5b6408ade6d93302d03a22"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"id\": \"\",\n    \"name\": \"\",\n    \"categoryId\": \"\",\n    \"tenantId\": \"\",\n    \"productTypes\": [\n      \"SIMPLE\"\n    ],\n    \"attributeDefinitions\": [\n      {\n        \"key\": \"\",\n        \"label\": \"\",\n        \"type\": \"STRING\",\n        \"options\": [\n          \"\"\n        ],\n        \"unit\": \"\",\n        \"required\": true,\n        \"variantDimension\": true,\n        \"filterable\": true,\n        \"displayAs\": \"TEXT\",\n        \"section\": \"\",\n        \"displayOrder\": 0,\n        \"placeholder\": \"\"\n      }\n    ],\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\"\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "update",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/payment-gateway/verify-account-number": {
      "post": {
        "summary": "Resolve Account Number:",
        "deprecated": false,
        "description": "In test mode use\n{\n*     \"accountNumber\": \"8131974410\",\n*     \"bankCode\": \"001\",\n*     \"gateway\": \"PAYSTACK\"\n* }",
        "tags": [
          "PaymentGatewayController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5289aa20d129071ffa10d0f038f161e6"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"accountNumber\": \"\",\n  \"bankCode\": \"\",\n  \"gateway\": \"PAYSTACK\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/5350ef9f02c1859da36f94c283219071"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {}\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "resolveAccountDetail",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads": {
      "post": {
        "summary": "Create Promo Ad",
        "deprecated": false,
        "description": "This API creates a new promotional ad.",
        "tags": [
          "PromoAdController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5a3e406f41aa365c3be8651445ecc40e"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"adName\": \"\",\n  \"images\": [\n    \"\"\n  ],\n  \"ctaText\": \"\",\n  \"promoCode\": \"\",\n  \"buttons\": [\n    {\n      \"type\": \"\",\n      \"position\": \"\",\n      \"color\": \"\",\n      \"textColor\": \"\",\n      \"text\": \"\",\n      \"link\": \"\",\n      \"metadata\": {}\n    }\n  ],\n  \"status\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/00a7f6cc35078b690e4b6d213a209ad5"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-04-23 13:07:22\",\n    \"updatedAt\": \"2026-04-23 13:07:22\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "createAd",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "get": {
        "summary": "Fetch Promo Ads.",
        "deprecated": false,
        "description": "This API retrieves a list of promotional ads filtered by status and paginated using a cursor.\nThe response includes promotional ads in either DRAFT or PUBLISHED status.",
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/235cf3831d9b57a016ff448c099a1c05"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"data\": [\n      {\n        \"id\": \"\",\n        \"adName\": \"\",\n        \"images\": [\n          \"\"\n        ],\n        \"ctaText\": \"\",\n        \"promoCode\": \"\",\n        \"buttons\": [\n          {\n            \"type\": \"\",\n            \"position\": \"\",\n            \"color\": \"\",\n            \"textColor\": \"\",\n            \"text\": \"\",\n            \"link\": \"\",\n            \"metadata\": {}\n          }\n        ],\n        \"status\": \"\",\n        \"metadata\": {},\n        \"createdAt\": \"2026-04-23 13:07:22\",\n        \"updatedAt\": \"2026-04-23 13:07:22\"\n      }\n    ],\n    \"nextCursor\": \"yyyy-MM-dd HH:mm:ss\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAllAds",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "cursor"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 10,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads/{id}": {
      "patch": {
        "summary": "Update Promo Ad",
        "deprecated": false,
        "description": "This API updates a specific promotional ad by its ID.",
        "tags": [
          "PromoAdController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5a3e406f41aa365c3be8651445ecc40e"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"adName\": \"\",\n  \"images\": [\n    \"\"\n  ],\n  \"ctaText\": \"\",\n  \"promoCode\": \"\",\n  \"buttons\": [\n    {\n      \"type\": \"\",\n      \"position\": \"\",\n      \"color\": \"\",\n      \"textColor\": \"\",\n      \"text\": \"\",\n      \"link\": \"\",\n      \"metadata\": {}\n    }\n  ],\n  \"status\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/00a7f6cc35078b690e4b6d213a209ad5"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-04-23 13:07:22\",\n    \"updatedAt\": \"2026-04-23 13:07:22\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "updateAd",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "get": {
        "summary": "Get Promo Ad by ID",
        "deprecated": false,
        "description": "This API retrieves a specific promotional ad by its ID.",
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/00a7f6cc35078b690e4b6d213a209ad5"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-04-23 13:07:22\",\n    \"updatedAt\": \"2026-04-23 13:07:22\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAdById",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "delete": {
        "summary": "Delete Promo Ad.",
        "deprecated": false,
        "description": "This API deletes a specific promotional ad.",
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/d3ee64b917a373d07487cc531a9a7577"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "deleteAd",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads/published": {
      "get": {
        "summary": "Fetch Published Promo Ads.",
        "deprecated": false,
        "description": "This API retrieves a list of published promotional ads.\nThe response includes promotional ads in PUBLISHED status.",
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/1123cdca1983b71e60a4f567e29a76b1"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"adName\": \"\",\n      \"images\": [\n        \"\"\n      ],\n      \"ctaText\": \"\",\n      \"promoCode\": \"\",\n      \"buttons\": [\n        {\n          \"type\": \"\",\n          \"position\": \"\",\n          \"color\": \"\",\n          \"textColor\": \"\",\n          \"text\": \"\",\n          \"link\": \"\",\n          \"metadata\": {}\n        }\n      ],\n      \"status\": \"\",\n      \"metadata\": {},\n      \"createdAt\": \"2026-04-23 13:07:22\",\n      \"updatedAt\": \"2026-04-23 13:07:22\"\n    }\n  ],\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAllPublishedAds",
        "parameters": [
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 3,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads/update/{id}/status/{status}": {
      "patch": {
        "summary": "Update Promo Ad Status.",
        "deprecated": false,
        "description": "This API updates the status of a specific promotional ad.\nThe response includes promotional ads in PUBLISHED status.",
        "tags": [
          "PromoAdController"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {},
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "curl -X PATCH -k -H \"X-MerchantApiKey:pk_test\" -i 'https://api.shopsynch.com/v1/promo-ads/update/{id}/status/{status}'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/d3ee64b917a373d07487cc531a9a7577"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "changeAdsStatus",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/customer-orders": {
      "get": {
        "summary": "Fetch Customer Orders.",
        "deprecated": false,
        "description": "This API retrieves a list of orders for the authenticated customer.\nThe response includes orders in PUBLISHED status.",
        "tags": [
          "CustomerOrderController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/45b226a2ed6fb6d7df5f93fc04946382"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getCustomerOrders",
        "parameters": [
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 0,
            "name": "page"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 100,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "CREATED_AT",
            "name": "sortField"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "DESC",
            "name": "sortDir"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Search by order number (exact match) - This is a separate field to allow for precise filtering by order number, while the 'search' field can be used for more general text search across multiple fields (like order number and customer name).",
            "required": false,
            "name": "orderNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "General search text for order number or customer name - This field allows for a broader search that can match either the order number or the customer's name, providing more flexibility in filtering orders based on user input.",
            "required": false,
            "name": "search"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by order status",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by payment status",
            "required": false,
            "name": "paymentStatus"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range start",
            "required": false,
            "name": "dateFrom"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range end",
            "required": false,
            "name": "dateTo"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by minimum amount",
            "required": false,
            "example": 0.0,
            "name": "minAmount"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by maximum amount",
            "required": false,
            "example": 0.0,
            "name": "maxAmount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by customer ID",
            "required": false,
            "name": "customerId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by product ID (orders that contain a specific product)",
            "required": false,
            "name": "productId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Authenticated customer ID (internal use)",
            "required": false,
            "name": "authCustomer"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/customer-orders/{customerId}": {
      "get": {
        "summary": "Fetch Customer Orders.",
        "deprecated": false,
        "description": "This API retrieves a list of orders for a specific customer.",
        "tags": [
          "CustomerOrderController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/45b226a2ed6fb6d7df5f93fc04946382"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "fetchCustomerOrders",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "customerId"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 0,
            "name": "page"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 100,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "ORDER_DATE",
            "name": "sortFieldParam"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "DESC",
            "name": "sortDirectionParam"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Search by order number (exact match) - This is a separate field to allow for precise filtering by order number, while the 'search' field can be used for more general text search across multiple fields (like order number and customer name).",
            "required": false,
            "name": "orderNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "General search text for order number or customer name - This field allows for a broader search that can match either the order number or the customer's name, providing more flexibility in filtering orders based on user input.",
            "required": false,
            "name": "search"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by order status",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by payment status",
            "required": false,
            "name": "paymentStatus"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range start",
            "required": false,
            "name": "dateFrom"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range end",
            "required": false,
            "name": "dateTo"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by minimum amount",
            "required": false,
            "example": 0.0,
            "name": "minAmount"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by maximum amount",
            "required": false,
            "example": 0.0,
            "name": "maxAmount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by customer ID",
            "required": false,
            "name": "customerId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by product ID (orders that contain a specific product)",
            "required": false,
            "name": "productId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Authenticated customer ID (internal use)",
            "required": false,
            "name": "authCustomer"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/customer-orders/{orderId}/items": {
      "get": {
        "summary": "Fetch Order Items.\nThis API retrieves a list of items in a specific order.",
        "deprecated": false,
        "tags": [
          "CustomerOrderController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/4a004b0d40400e7a4143cd6f7c4c7929"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"orderId\": \"\",\n      \"quantity\": 0,\n      \"price\": 0,\n      \"totalPrice\": 0,\n      \"productId\": \"\",\n      \"variationId\": \"\",\n      \"variationPriceDetailId\": \"\",\n      \"product\": {\n        \"id\": \"\",\n        \"name\": \"\",\n        \"slug\": \"\",\n        \"description\": \"\",\n        \"image\": \"\",\n        \"thumbnail\": \"\",\n        \"imageList\": [\n          \"\"\n        ],\n        \"price\": 0,\n        \"newPrice\": 0,\n        \"ramSize\": \"\",\n        \"storage\": \"\",\n        \"size\": \"\",\n        \"sku\": \"\",\n        \"quantityInStock\": 0,\n        \"brand\": \"\",\n        \"discount\": 0,\n        \"category\": \"\",\n        \"color\": \"\",\n        \"rating\": 0,\n        \"features\": [\n          \"\"\n        ],\n        \"specification\": [\n          {\n            \"key\": \"\",\n            \"value\": \"\"\n          }\n        ],\n        \"variation\": {\n          \"id\": \"\",\n          \"customColor\": \"\",\n          \"color\": \"\",\n          \"image\": \"\"\n        }\n      },\n      \"customer\": {\n        \"id\": \"\",\n        \"email\": \"\",\n        \"fullName\": \"\",\n        \"firstName\": \"\",\n        \"lastName\": \"\",\n        \"phoneNumber\": \"\",\n        \"address\": \"\",\n        \"status\": \"\",\n        \"createdAt\": \"2026-04-23 13:07:23\",\n        \"updatedAt\": \"2026-04-23 13:07:23\"\n      },\n      \"createdAt\": \"yyyy-MM-dd HH:mm:ss\"\n    }\n  ]\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getOrderItems",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "orderId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "credentialsNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonLocked"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "googleId"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "anonymous"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "password"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "notificationsEnabled"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/logistics/providers": {
      "get": {
        "summary": "List Logistic Providers",
        "deprecated": false,
        "description": "Returns all logistics providers currently supported by the platform.",
        "tags": [
          "LogisticController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/2cd30ebc9d413dc6b4d420173393250b"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": [\n    \"KONGA\"\n  ]\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getProviders",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/logistics/settings/{provider}": {
      "get": {
        "summary": "Get Logistic Setting",
        "deprecated": false,
        "description": "Returns the tenant's configuration for a specific logistics provider.",
        "tags": [
          "LogisticController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/c283e8c75722addd4589dc00945d098f"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"id\": \"\",\n    \"provider\": \"KONGA\",\n    \"enabled\": true,\n    \"pickupLocationId\": \"\",\n    \"originState\": \"\",\n    \"originLga\": \"\",\n    \"fallbackWeightKg\": 0,\n    \"metadata\": {\n      \"array\": true,\n      \"object\": true,\n      \"valueNode\": true,\n      \"missingNode\": true,\n      \"containerNode\": true\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getSetting",
        "parameters": [
          {
            "schema": {
              "format": "enum",
              "type": "string",
              "enum": [
                "KONGA"
              ]
            },
            "in": "path",
            "description": "The logistics provider code.<br/>[Enum: KONGA]",
            "required": true,
            "example": "KONGA",
            "name": "provider"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "put": {
        "summary": "Update Logistic Setting",
        "deprecated": false,
        "description": "Enables or disables a provider and stores tenant pickup/origin configuration.",
        "tags": [
          "LogisticController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/4fde78abf48a2d1e1b2089224ad7354c"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"enabled\": true,\n  \"pickupLocationId\": \"\",\n  \"originState\": \"\",\n  \"originLga\": \"\",\n  \"fallbackWeightKg\": 0,\n  \"metadata\": {\n    \"array\": true,\n    \"object\": true,\n    \"valueNode\": true,\n    \"missingNode\": true,\n    \"containerNode\": true\n  }\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/c283e8c75722addd4589dc00945d098f"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"id\": \"\",\n    \"provider\": \"KONGA\",\n    \"enabled\": true,\n    \"pickupLocationId\": \"\",\n    \"originState\": \"\",\n    \"originLga\": \"\",\n    \"fallbackWeightKg\": 0,\n    \"metadata\": {\n      \"array\": true,\n      \"object\": true,\n      \"valueNode\": true,\n      \"missingNode\": true,\n      \"containerNode\": true\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "updateSetting",
        "parameters": [
          {
            "schema": {
              "format": "enum",
              "type": "string",
              "enum": [
                "KONGA"
              ]
            },
            "in": "path",
            "description": "The logistics provider code.<br/>[Enum: KONGA]",
            "required": true,
            "example": "KONGA",
            "name": "provider"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/logistics/quotes": {
      "post": {
        "summary": "Create Delivery Quotes",
        "deprecated": false,
        "description": "Calls all enabled logistics providers for the tenant and returns available delivery quotes.",
        "tags": [
          "LogisticController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/7bbf36bec5680a5fdb1180f4ac142780"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"destinationState\": \"\",\n  \"destinationLga\": \"\",\n  \"currency\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/9e1baeb4b621d1f884eb1d498fddd3a2"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": [\n    {\n      \"quoteId\": \"\",\n      \"provider\": \"KONGA\",\n      \"amount\": 0,\n      \"currency\": \"\",\n      \"weightKg\": 0,\n      \"status\": \"AVAILABLE\",\n      \"recommendationTags\": [\n        \"CHEAPEST\"\n      ],\n      \"expiresAt\": \"yyyy-MM-dd HH:mm:ss\"\n    }\n  ]\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "createQuotes",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "credentialsNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonLocked"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "googleId"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "anonymous"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "password"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "notificationsEnabled"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "Optional session identifier for guest carts.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/logistics/konga/locations": {
      "get": {
        "summary": "Get Konga Locations",
        "deprecated": false,
        "description": "Returns Konga pickup/delivery locations for merchant configuration.",
        "tags": [
          "LogisticController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/9a1994c7fcc982dbeeb50d89e2bd9325"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"array\": true,\n    \"object\": true,\n    \"valueNode\": true,\n    \"missingNode\": true,\n    \"containerNode\": true\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getKongaLocations",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/logistics/konga/states": {
      "get": {
        "summary": "Get Konga States",
        "deprecated": false,
        "description": "Returns Konga-supported states for quote and pickup configuration.",
        "tags": [
          "LogisticController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/9a1994c7fcc982dbeeb50d89e2bd9325"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"array\": true,\n    \"object\": true,\n    \"valueNode\": true,\n    \"missingNode\": true,\n    \"containerNode\": true\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getKongaStates",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/logistics/konga/lgas": {
      "get": {
        "summary": "Get Konga LGAs",
        "deprecated": false,
        "description": "Returns Konga-supported LGAs for a state.",
        "tags": [
          "LogisticController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/9a1994c7fcc982dbeeb50d89e2bd9325"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"array\": true,\n    \"object\": true,\n    \"valueNode\": true,\n    \"missingNode\": true,\n    \"containerNode\": true\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getKongaLgas",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "The Konga state reference returned by Konga's states endpoint.",
            "required": true,
            "name": "kongaStateId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/logistics/orders/{orderId}/waybill": {
      "post": {
        "summary": "Generate Order Waybill",
        "deprecated": false,
        "description": "Manually generates or retries waybill creation for an order shipment.",
        "tags": [
          "LogisticController"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "curl -X POST -k -H \"X-MerchantApiKey:pk_test\" -i 'https://api.shopsynch.com/v1/logistics/orders/{orderId}/waybill'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/24f7ac51b92bf63aecf978621cf1f4d8"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"id\": \"\",\n    \"tenantId\": \"\",\n    \"orderId\": \"\",\n    \"orderNumber\": \"\",\n    \"quoteId\": \"\",\n    \"provider\": \"KONGA\",\n    \"cost\": 0,\n    \"currency\": \"\",\n    \"weightKg\": 0,\n    \"destinationState\": \"\",\n    \"destinationLga\": \"\",\n    \"status\": \"PENDING_WAYBILL\",\n    \"waybillNumber\": \"\",\n    \"waybillGeneratedAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"rawWaybillResponse\": {\n      \"array\": true,\n      \"object\": true,\n      \"valueNode\": true,\n      \"missingNode\": true,\n      \"containerNode\": true\n    },\n    \"lastTrackingResponse\": {\n      \"array\": true,\n      \"object\": true,\n      \"valueNode\": true,\n      \"missingNode\": true,\n      \"containerNode\": true\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "generateWaybill",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "The order identifier.",
            "required": true,
            "name": "orderId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/logistics/orders/{orderId}/tracking": {
      "get": {
        "summary": "Track Order Shipment",
        "deprecated": false,
        "description": "Returns tracking information for the selected logistics provider on an order.",
        "tags": [
          "LogisticController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ae20f0366c1f17f4b82390915d884ed5"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"orderId\": \"\",\n    \"provider\": \"KONGA\",\n    \"status\": \"PENDING_WAYBILL\",\n    \"waybillNumber\": \"\",\n    \"tracking\": {\n      \"array\": true,\n      \"object\": true,\n      \"valueNode\": true,\n      \"missingNode\": true,\n      \"containerNode\": true\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "trackOrder",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "The order identifier.",
            "required": true,
            "name": "orderId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/carts/items": {
      "get": {
        "summary": "List Items In Cart.",
        "deprecated": false,
        "description": "This API retrieves a list of items in the cart.",
        "tags": [
          "CartController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e68f77d6185b93a70085409e76655bb3"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"productId\": \"\",\n      \"variationId\": \"\",\n      \"variationPriceId\": \"\",\n      \"customerId\": \"\",\n      \"name\": \"\",\n      \"image\": \"\",\n      \"price\": 0,\n      \"newPrice\": 0,\n      \"ramSize\": \"\",\n      \"Storage\": \"\",\n      \"size\": \"\",\n      \"sku\": \"\",\n      \"quantityInStock\": 0,\n      \"discount\": 0,\n      \"color\": \"\",\n      \"rating\": 0,\n      \"sessionId\": \"\",\n      \"quantity\": 0\n    }\n  ],\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "listItemsInCart",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/add": {
      "post": {
        "summary": "Add Item To Cart.",
        "deprecated": false,
        "description": "This API adds an item to the cart.",
        "tags": [
          "CartController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/b2f2da0a457bb8c3f55ad4435f028b65"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"productId\": \"\",\n  \"variationId\": \"\",\n  \"tenantId\": \"\",\n  \"variationPriceId\": \"\",\n  \"quantity\": 0,\n  \"sessionId\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e02dad3737dfb80535b1ced9cdd5ed7e"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"productId\": \"\",\n    \"variationId\": \"\",\n    \"variationPriceId\": \"\",\n    \"customerId\": \"\",\n    \"name\": \"\",\n    \"image\": \"\",\n    \"price\": 0,\n    \"newPrice\": 0,\n    \"ramSize\": \"\",\n    \"Storage\": \"\",\n    \"size\": \"\",\n    \"sku\": \"\",\n    \"quantityInStock\": 0,\n    \"discount\": 0,\n    \"color\": \"\",\n    \"rating\": 0,\n    \"sessionId\": \"\",\n    \"quantity\": 0\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
[...]
