{
  "openapi": "3.1.0",
  "info": {
    "title": "Shopsynch API",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://api.shopsynch.com"
    }
  ],
  "tags": [
    {
      "name": "ProductVariantGroupController",
      "description": "Manages variant groups and their SKUs for V2 products.\n\n&lt;p&gt;All endpoints are scoped under {@code /v2/products/{productId}/variant-groups}.\nV1 variation endpoints ({@code /v1/products/variation/*}) are NOT affected."
    },
    {
      "name": "MerchantBankAccountController",
      "description": "MerchantBankAccountController"
    },
    {
      "name": "VariationOptionController",
      "description": "VariationOptionController"
    },
    {
      "name": "LocationController",
      "description": "LocationController"
    },
    {
      "name": "LocalGovernmentController",
      "description": "LocalGovernmentController"
    },
    {
      "name": "SocialAuthController",
      "description": "SocialAuthController"
    },
    {
      "name": "OrderController",
      "description": "Order Management"
    },
    {
      "name": "ComplianceController",
      "description": "Tenant Compliance Management"
    },
    {
      "name": "ChangePasswordController",
      "description": "Change Password Management (authenticated)"
    },
    {
      "name": "PaymentGatewayController",
      "description": "Payment Gateway"
    },
    {
      "name": "CustomerAuthController",
      "description": "Customer Authentication"
    },
    {
      "name": "StatSnapshotController",
      "description": "StatSnapshotController"
    },
    {
      "name": "TenantStoreController",
      "description": "TenantStoreController"
    },
    {
      "name": "ProductVariationPriceDetailController",
      "description": "ProductVariationPriceDetailController"
    },
    {
      "name": "BrandController",
      "description": "BrandController"
    },
    {
      "name": "TenantCategoryController",
      "description": "Tenant Category Management"
    },
    {
      "name": "QAController",
      "description": "QAController"
    },
    {
      "name": "UserController",
      "description": "UserController"
    },
    {
      "name": "CategoryController",
      "description": "CategoryController"
    },
    {
      "name": "PaymentMethodController",
      "description": "Payment Method Management"
    },
    {
      "name": "SpecificationController",
      "description": "SpecificationController"
    },
    {
      "name": "ProductStatsController",
      "description": "ProductStatsController"
    },
    {
      "name": "VariationController",
      "description": "VariationController"
    },
    {
      "name": "PaymentController",
      "description": "Payment Management"
    },
    {
      "name": "BankController",
      "description": "BankController"
    },
    {
      "name": "ColorController",
      "description": "ColorController"
    },
    {
      "name": "PromotionController",
      "description": "Promotion management."
    },
    {
      "name": "CustomerController",
      "description": "CustomerController"
    },
    {
      "name": "AppTokenController",
      "description": "App Token Management"
    },
    {
      "name": "PaymentLinkController",
      "description": "PaymentLinkController"
    },
    {
      "name": "ReviewController",
      "description": "ReviewController"
    },
    {
      "name": "MerchantController",
      "description": "Merchant Management"
    },
    {
      "name": "PaystackWebhookController",
      "description": "PaystackWebhookController"
    },
    {
      "name": "ForgotPasswordController",
      "description": "Forgot Password Management (Unauthenticated)"
    },
    {
      "name": "ConfigController",
      "description": "Tenant Configuration Management"
    },
    {
      "name": "AddressController",
      "description": "AddressController"
    },
    {
      "name": "PasswordlessAuthController",
      "description": "Password-less Authentication."
    },
    {
      "name": "EmailPreviewController",
      "description": "EmailPreviewController"
    },
    {
      "name": "MonnifyWebhookController",
      "description": "MonnifyWebhookController"
    },
    {
      "name": "StateController",
      "description": "StateController"
    },
    {
      "name": "RoleController",
      "description": "RoleController"
    },
    {
      "name": "CustomerOrderController",
      "description": "Customer Order Management"
    },
    {
      "name": "NotificationController",
      "description": "Notification Management"
    },
    {
      "name": "WhatsAppWebhookController",
      "description": "WhatsAppWebhookController"
    },
    {
      "name": "ProductVariationController",
      "description": "Product Variation Management (Authenticated)"
    },
    {
      "name": "ProductController",
      "description": "Product Management"
    },
    {
      "name": "PromoAdController",
      "description": "Promo Ad API"
    },
    {
      "name": "AuthController",
      "description": "Authentication."
    },
    {
      "name": "ProductV2Controller",
      "description": "V2 Product Management — supports all product types (SIMPLE, VARIABLE, DIGITAL, BUNDLE).\n\n&lt;p&gt;V1 endpoints remain fully operational at {@code /v1/products}.\nAll new product creation should be done via this controller."
    },
    {
      "name": "CartSessionController",
      "description": "CartSessionController"
    },
    {
      "name": "HomeController",
      "description": "HomeController"
    },
    {
      "name": "NaturalLanguageQueryController",
      "description": "Public REST Controller for processing Natural Language Query (NLQ) requests.\nAllows merchants to query dashboard stats using plain English phrases.\n\nFlow:\n1. Receives natural language &quot;query&quot; (e.g. &quot;how are my sales today?&quot;).\n2. Delegates to {@link NaturalLanguageStatParser} to translate the text into structured dates.\n3. Uses {@link StatsQueryService} to fetch actual business metrics for those dates.\n4. Returns both the interpreted range and the resulting statistics data."
    },
    {
      "name": "FileController",
      "description": "File Management (File Upload)"
    },
    {
      "name": "DashboardController",
      "description": "DashboardController"
    },
    {
      "name": "CartController",
      "description": "Cart Management"
    },
    {
      "name": "CountryController",
      "description": "CountryController"
    },
    {
      "name": "CheckoutLinkController",
      "description": "CheckoutLinkController"
    },
    {
      "name": "EmailVerificationController",
      "description": "Email Verification"
    },
    {
      "name": "WhatsAppAuthController",
      "description": "Whatsapp Authentication"
    },
    {
      "name": "DeliveryZoneController",
      "description": "Delivery Zone Management"
    }
  ],
  "paths": {
    "/v1/payment-gateway/verify-account-number": {
      "post": {
        "summary": "Resolve Account Number:",
        "deprecated": false,
        "description": "In test mode use\n{\n*     \"accountNumber\": \"8131974410\",\n*     \"bankCode\": \"001\",\n*     \"gateway\": \"PAYSTACK\"\n* }",
        "tags": [
          "PaymentGatewayController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5289aa20d129071ffa10d0f038f161e6"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"accountNumber\": \"\",\n  \"bankCode\": \"\",\n  \"gateway\": \"PAYSTACK\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/5350ef9f02c1859da36f94c283219071"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {}\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "resolveAccountDetail",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads": {
      "post": {
        "summary": "Create Promo Ad",
        "deprecated": false,
        "description": "This API creates a new promotional ad.",
        "tags": [
          "PromoAdController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5a3e406f41aa365c3be8651445ecc40e"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"adName\": \"\",\n  \"images\": [\n    \"\"\n  ],\n  \"ctaText\": \"\",\n  \"promoCode\": \"\",\n  \"buttons\": [\n    {\n      \"type\": \"\",\n      \"position\": \"\",\n      \"color\": \"\",\n      \"textColor\": \"\",\n      \"text\": \"\",\n      \"link\": \"\",\n      \"metadata\": {}\n    }\n  ],\n  \"status\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/31bec2ab9c15972c2960aaeb07f63e12"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-04-06 17:12:56\",\n    \"updatedAt\": \"2026-04-06 17:12:56\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "createAd",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "get": {
        "summary": "Fetch Promo Ads.",
        "deprecated": false,
        "description": "This API retrieves a list of promotional ads filtered by status and paginated using a cursor.\nThe response includes promotional ads in either DRAFT or PUBLISHED status.",
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/c31be3816d1c834099dc50171d1f6532"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"data\": [\n      {\n        \"id\": \"\",\n        \"adName\": \"\",\n        \"images\": [\n          \"\"\n        ],\n        \"ctaText\": \"\",\n        \"promoCode\": \"\",\n        \"buttons\": [\n          {\n            \"type\": \"\",\n            \"position\": \"\",\n            \"color\": \"\",\n            \"textColor\": \"\",\n            \"text\": \"\",\n            \"link\": \"\",\n            \"metadata\": {}\n          }\n        ],\n        \"status\": \"\",\n        \"metadata\": {},\n        \"createdAt\": \"2026-04-06 17:12:56\",\n        \"updatedAt\": \"2026-04-06 17:12:56\"\n      }\n    ],\n    \"nextCursor\": \"yyyy-MM-dd HH:mm:ss\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAllAds",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "cursor"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 10,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads/{id}": {
      "patch": {
        "summary": "Update Promo Ad",
        "deprecated": false,
        "description": "This API updates a specific promotional ad by its ID.",
        "tags": [
          "PromoAdController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5a3e406f41aa365c3be8651445ecc40e"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"adName\": \"\",\n  \"images\": [\n    \"\"\n  ],\n  \"ctaText\": \"\",\n  \"promoCode\": \"\",\n  \"buttons\": [\n    {\n      \"type\": \"\",\n      \"position\": \"\",\n      \"color\": \"\",\n      \"textColor\": \"\",\n      \"text\": \"\",\n      \"link\": \"\",\n      \"metadata\": {}\n    }\n  ],\n  \"status\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/31bec2ab9c15972c2960aaeb07f63e12"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-04-06 17:12:56\",\n    \"updatedAt\": \"2026-04-06 17:12:56\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "updateAd",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "get": {
        "summary": "Get Promo Ad by ID",
        "deprecated": false,
        "description": "This API retrieves a specific promotional ad by its ID.",
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/31bec2ab9c15972c2960aaeb07f63e12"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-04-06 17:12:56\",\n    \"updatedAt\": \"2026-04-06 17:12:56\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAdById",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "delete": {
        "summary": "Delete Promo Ad.",
        "deprecated": false,
        "description": "This API deletes a specific promotional ad.",
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/d3ee64b917a373d07487cc531a9a7577"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "deleteAd",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads/published": {
      "get": {
        "summary": "Fetch Published Promo Ads.",
        "deprecated": false,
        "description": "This API retrieves a list of published promotional ads.\nThe response includes promotional ads in PUBLISHED status.",
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/51829895f938c7b4387c5e0ef0a97704"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"adName\": \"\",\n      \"images\": [\n        \"\"\n      ],\n      \"ctaText\": \"\",\n      \"promoCode\": \"\",\n      \"buttons\": [\n        {\n          \"type\": \"\",\n          \"position\": \"\",\n          \"color\": \"\",\n          \"textColor\": \"\",\n          \"text\": \"\",\n          \"link\": \"\",\n          \"metadata\": {}\n        }\n      ],\n      \"status\": \"\",\n      \"metadata\": {},\n      \"createdAt\": \"2026-04-06 17:12:56\",\n      \"updatedAt\": \"2026-04-06 17:12:56\"\n    }\n  ],\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAllPublishedAds",
        "parameters": [
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 3,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads/update/{id}/status/{status}": {
      "patch": {
        "summary": "Update Promo Ad Status.",
        "deprecated": false,
        "description": "This API updates the status of a specific promotional ad.\nThe response includes promotional ads in PUBLISHED status.",
        "tags": [
          "PromoAdController"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {},
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "curl -X PATCH -k -H \"X-MerchantApiKey:pk_test\" -i 'https://api.shopsynch.com/v1/promo-ads/update/{id}/status/{status}'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/d3ee64b917a373d07487cc531a9a7577"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "changeAdsStatus",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/customer-orders": {
      "get": {
        "summary": "Fetch Customer Orders.\nThis API retrieves a list of orders for the authenticated customer.\nThe response includes orders in PUBLISHED status.",
        "deprecated": false,
        "tags": [
          "CustomerOrderController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/45b226a2ed6fb6d7df5f93fc04946382"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getCustomerOrders",
        "parameters": [
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 0,
            "name": "page"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 100,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "CREATED_AT",
            "name": "sortField"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "DESC",
            "name": "sortDir"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Search by order number (exact match) - This is a separate field to allow for precise filtering by order number, while the 'search' field can be used for more general text search across multiple fields (like order number and customer name).",
            "required": false,
            "name": "orderNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "General search text for order number or customer name - This field allows for a broader search that can match either the order number or the customer's name, providing more flexibility in filtering orders based on user input.",
            "required": false,
            "name": "search"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by order status",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by payment status",
            "required": false,
            "name": "paymentStatus"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range start",
            "required": false,
            "name": "dateFrom"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range end",
            "required": false,
            "name": "dateTo"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by minimum amount",
            "required": false,
            "example": 0.0,
            "name": "minAmount"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by maximum amount",
            "required": false,
            "example": 0.0,
            "name": "maxAmount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by customer ID",
            "required": false,
            "name": "customerId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by product ID (orders that contain a specific product)",
            "required": false,
            "name": "productId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Authenticated customer ID (internal use)",
            "required": false,
            "name": "authCustomer"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonLocked"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "credentialsNonExpired"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "googleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "password"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "notificationsEnabled"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "addresses"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenant"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleResource"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "role"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/customer-orders/{customerId}": {
      "get": {
        "summary": "Fetch Customer Orders.\nThis API retrieves a list of orders for a specific customer.",
        "deprecated": false,
        "tags": [
          "CustomerOrderController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/45b226a2ed6fb6d7df5f93fc04946382"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "fetchCustomerOrders",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "customerId"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 0,
            "name": "page"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 100,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "ORDER_DATE",
            "name": "sortFieldParam"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "DESC",
            "name": "sortDirectionParam"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Search by order number (exact match) - This is a separate field to allow for precise filtering by order number, while the 'search' field can be used for more general text search across multiple fields (like order number and customer name).",
            "required": false,
            "name": "orderNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "General search text for order number or customer name - This field allows for a broader search that can match either the order number or the customer's name, providing more flexibility in filtering orders based on user input.",
            "required": false,
            "name": "search"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by order status",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by payment status",
            "required": false,
            "name": "paymentStatus"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range start",
            "required": false,
            "name": "dateFrom"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range end",
            "required": false,
            "name": "dateTo"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by minimum amount",
            "required": false,
            "example": 0.0,
            "name": "minAmount"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by maximum amount",
            "required": false,
            "example": 0.0,
            "name": "maxAmount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by customer ID",
            "required": false,
            "name": "customerId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by product ID (orders that contain a specific product)",
            "required": false,
            "name": "productId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Authenticated customer ID (internal use)",
            "required": false,
            "name": "authCustomer"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/customer-orders/{orderId}/items": {
      "get": {
        "summary": "Fetch Order Items.\nThis API retrieves a list of items in a specific order.",
        "deprecated": false,
        "tags": [
          "CustomerOrderController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/a9995457a7be4cf14f0c72aa90625b6d"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"orderId\": \"\",\n      \"quantity\": 0,\n      \"price\": 0,\n      \"totalPrice\": 0,\n      \"productId\": \"\",\n      \"variationId\": \"\",\n      \"variationPriceDetailId\": \"\",\n      \"product\": {\n        \"id\": \"\",\n        \"name\": \"\",\n        \"slug\": \"\",\n        \"description\": \"\",\n        \"image\": \"\",\n        \"thumbnail\": \"\",\n        \"imageList\": [\n          \"\"\n        ],\n        \"price\": 0,\n        \"newPrice\": 0,\n        \"ramSize\": \"\",\n        \"storage\": \"\",\n        \"size\": \"\",\n        \"sku\": \"\",\n        \"quantityInStock\": 0,\n        \"brand\": \"\",\n        \"discount\": 0,\n        \"category\": \"\",\n        \"color\": \"\",\n        \"rating\": 0,\n        \"features\": [\n          \"\"\n        ],\n        \"specification\": [\n          {\n            \"key\": \"\",\n            \"value\": \"\"\n          }\n        ],\n        \"variation\": {\n          \"id\": \"\",\n          \"customColor\": \"\",\n          \"color\": \"\",\n          \"image\": \"\"\n        }\n      },\n      \"customer\": {\n        \"id\": \"\",\n        \"email\": \"\",\n        \"fullName\": \"\",\n        \"phoneNumber\": \"\",\n        \"address\": \"\",\n        \"status\": \"\",\n        \"createdAt\": \"2026-04-06 17:13:00\",\n        \"updatedAt\": \"2026-04-06 17:13:00\"\n      },\n      \"createdAt\": \"yyyy-MM-dd HH:mm:ss\"\n    }\n  ]\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getOrderItems",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "orderId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonLocked"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "credentialsNonExpired"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "googleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "password"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "notificationsEnabled"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/carts/items": {
      "get": {
        "summary": "List Items In Cart.",
        "deprecated": false,
        "description": "This API retrieves a list of items in the cart.",
        "tags": [
          "CartController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e68f77d6185b93a70085409e76655bb3"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"productId\": \"\",\n      \"variationId\": \"\",\n      \"variationPriceId\": \"\",\n      \"customerId\": \"\",\n      \"name\": \"\",\n      \"image\": \"\",\n      \"price\": 0,\n      \"newPrice\": 0,\n      \"ramSize\": \"\",\n      \"Storage\": \"\",\n      \"size\": \"\",\n      \"sku\": \"\",\n      \"quantityInStock\": 0,\n      \"discount\": 0,\n      \"color\": \"\",\n      \"rating\": 0,\n      \"sessionId\": \"\",\n      \"quantity\": 0\n    }\n  ],\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "listItemsInCart",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/add": {
      "post": {
        "summary": "Add Item To Cart.",
        "deprecated": false,
        "description": "This API adds an item to the cart.",
        "tags": [
          "CartController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/b2f2da0a457bb8c3f55ad4435f028b65"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"productId\": \"\",\n  \"variationId\": \"\",\n  \"tenantId\": \"\",\n  \"variationPriceId\": \"\",\n  \"quantity\": 0,\n  \"sessionId\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e02dad3737dfb80535b1ced9cdd5ed7e"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"productId\": \"\",\n    \"variationId\": \"\",\n    \"variationPriceId\": \"\",\n    \"customerId\": \"\",\n    \"name\": \"\",\n    \"image\": \"\",\n    \"price\": 0,\n    \"newPrice\": 0,\n    \"ramSize\": \"\",\n    \"Storage\": \"\",\n    \"size\": \"\",\n    \"sku\": \"\",\n    \"quantityInStock\": 0,\n    \"discount\": 0,\n    \"color\": \"\",\n    \"rating\": 0,\n    \"sessionId\": \"\",\n    \"quantity\": 0\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "addItemToCart",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/remove/{carItemId}": {
      "patch": {
        "summary": "Remove Item From Cart.",
        "deprecated": false,
        "description": "This API removes an item from the cart.",
        "tags": [
          "CartController"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {},
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "curl -X PATCH -k -H \"X-MerchantApiKey:pk_test\" -H \"X-SessionId:ee5bfa88-56a2-4551-ae1d-d753984ae1d9\" -H \"X-Session-Id\" -i 'https://api.shopsynch.com/v1/carts/remove/{carItemId}'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e52338e7adbd4c5d232100af8b549607"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "removeItemFromCart",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "carItemId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/item/increment/quantity/{cartId}": {
      "patch": {
        "summary": "Increment Item Quantity.",
        "deprecated": false,
        "description": "This API increments the quantity of an item in the cart.",
        "tags": [
          "CartController"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {},
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "curl -X PATCH -k -H \"X-MerchantApiKey:pk_test\" -H \"X-SessionId:ee5bfa88-56a2-4551-ae1d-d753984ae1d9\" -H \"X-Session-Id\" -i 'https://api.shopsynch.com/v1/carts/item/increment/quantity/{cartId}'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e52338e7adbd4c5d232100af8b549607"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "incrementItemQuantity",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "cartId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/item/decrement/quantity/{cartId}": {
      "patch": {
        "summary": "Decrement Item Quantity.",
        "deprecated": false,
        "description": "This API decrements the quantity of an item in the cart.",
        "tags": [
          "CartController"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {},
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "curl -X PATCH -k -H \"X-MerchantApiKey:pk_test\" -H \"X-SessionId:ee5bfa88-56a2-4551-ae1d-d753984ae1d9\" -H \"X-Session-Id\" -i 'https://api.shopsynch.com/v1/carts/item/decrement/quantity/{cartId}'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e52338e7adbd4c5d232100af8b549607"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "decrementItemQuantity",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "cartId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/clear": {
      "delete": {
        "summary": "Clear Cart.",
        "deprecated": false,
        "description": "This API clears the cart for the authenticated customer or via sessionId.",
        "tags": [
          "CartController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e52338e7adbd4c5d232100af8b549607"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "clearCart",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/checkout": {
      "post": {
        "summary": "Checkout Cart.",
        "deprecated": false,
        "description": "This API checks out the cart for the authenticated customer.",
        "tags": [
          "CartController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1bf4130a11ae45546e52f18343473ac6"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"firstName\": \"\",\n  \"lastName\": \"\",\n  \"email\": \"\",\n  \"phoneNumber\": \"\",\n  \"country\": \"\",\n  \"currency\": \"\",\n  \"state\": \"\",\n  \"city\": \"\",\n  \"area\": \"\",\n  \"landmark\": \"\",\n  \"meta\": {},\n  \"shippingAddress\": \"\",\n  \"billingAddress\": \"\",\n  \"totalAmount\": 0,\n  \"subtotal\": 0,\n  \"discountAmount\": 0,\n  \"shippingFee\": 0,\n  \"taxAmount\": 0,\n  \"shippingMethod\": \"\",\n  \"paymentMethod\": \"\",\n  \"promoCode\": \"\",\n  \"tenantId\": \"\",\n  \"sessionId\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e52338e7adbd4c5d232100af8b549607"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "checkoutCart",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/guest/checkout": {
      "post": {
        "summary": "Guest Checkout Cart.",
        "deprecated": false,
        "description": "This API checks out the cart for a guest user.",
        "tags": [
          "CartController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1bf4130a11ae45546e52f18343473ac6"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"firstName\": \"\",\n  \"lastName\": \"\",\n  \"email\": \"\",\n  \"phoneNumber\": \"\",\n  \"country\": \"\",\n  \"currency\": \"\",\n  \"state\": \"\",\n  \"city\": \"\",\n  \"area\": \"\",\n  \"landmark\": \"\",\n  \"meta\": {},\n  \"shippingAddress\": \"\",\n  \"billingAddress\": \"\",\n  \"totalAmount\": 0,\n  \"subtotal\": 0,\n  \"discountAmount\": 0,\n  \"shippingFee\": 0,\n  \"taxAmount\": 0,\n  \"shippingMethod\": \"\",\n  \"paymentMethod\": \"\",\n  \"promoCode\": \"\",\n  \"tenantId\": \"\",\n  \"sessionId\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e52338e7adbd4c5d232100af8b549607"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "guestCheckout",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": true,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/categories": {
      "get": {
        "summary": "getAllCategories",
        "deprecated": false,
        "description": "",
        "tags": [
          "CategoryController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/fcfde6154ab9b945987b5b99e911e5e4"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"name\": \"\",\n      \"slug\": \"\"\n    }\n  ]\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAllCategories",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "search"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "parentId"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "featured"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promotions/apply/promo-code": {
      "post": {
        "summary": "Apply Promo Code",
        "deprecated": false,
        "description": "Applies a promo code to calculate discounted price\"",
        "tags": [
          "PromotionController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/9099c58085f8735c184bc6e903d44be4"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"promoCode\": \"\",\n  \"amount\": 0\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/45b226a2ed6fb6d7df5f93fc04946382"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "applyPromoCode",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promotions": {
      "post": {
        "summary": "Create Promotion",
        "deprecated": false,
        "description": "Creates a new promotion (shop owner access required)",
        "tags": [
          "PromotionController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/0d4c81536599eaed7f7ae0859a5b2387"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"name\": \"\",\n  \"code\": \"\",\n  \"description\": \"\",\n  \"startDate\": \"yyyy-MM-dd HH:mm:ss\",\n  \"endDate\": \"yyyy-MM-dd HH:mm:ss\",\n  \"discount\": 0,\n  \"discountValue\": 0,\n  \"discountType\": \"PERCENTAGE\",\n  \"maximumDiscountCap\": 0,\n  \"minimumOrderValue\": 0,\n  \"requiredQuantity\": 0,\n  \"freeQuantity\": 0,\n  \"usageLimit\": 0,\n  \"perCustomerUsageLimit\": 0,\n  \"status\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/03b252aa98d541e58c4710f5c763674a"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"id\": \"\",\n    \"name\": \"\",\n    \"code\": \"\",\n    \"description\": \"\",\n    \"startDate\": \"yyyy-MM-dd HH:mm:ss\",\n    \"endDate\": \"yyyy-MM-dd HH:mm:ss\",\n    \"discountType\": \"PERCENTAGE\",\n    \"discountValue\": 0,\n    \"maximumDiscountCap\": 0,\n    \"minimumOrderValue\": 0,\n    \"requiredQuantity\": 0,\n    \"freeQuantity\": 0,\n    \"usageLimit\": 0,\n    \"usageCount\": 0,\n    \"perCustomerUsageLimit\": 0,\n    \"discount\": 0,\n    \"status\": \"\",\n    \"tenantId\": \"\"\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "createPromotion",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "get": {
        "summary": "Fetch All Promotions",
        "deprecated": false,
        "description": "Retrieves all promotions for the current tenant (shop owner access required)",
        "tags": [
          "PromotionController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/7ece6deeaa8fce565c3aef53adb7ae35"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": [\n    {\n      \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n      \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\",\n      \"id\": \"\",\n      \"name\": \"\",\n      \"code\": \"\",\n      \"description\": \"\",\n      \"startDate\": \"yyyy-MM-dd HH:mm:ss\",\n      \"endDate\": \"yyyy-MM-dd HH:mm:ss\",\n      \"discountType\": \"PERCENTAGE\",\n      \"discountValue\": 0,\n      \"maximumDiscountCap\": 0,\n      \"minimumOrderValue\": 0,\n      \"requiredQuantity\": 0,\n      \"freeQuantity\": 0,\n      \"usageLimit\": 0,\n      \"usageCount\": 0,\n      \"perCustomerUsageLimit\": 0,\n      \"discount\": 0,\n      \"status\": \"\",\n      \"tenantId\": \"\"\n    }\n  ]\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAllPromotions",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter promotions by specific code",
            "required": false,
            "name": "code"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Search promotions by specific name",
            "required": false,
            "name": "name"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Search promotions by specific description",
            "required": false,
            "name": "description"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter promotions by specific status",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter promotions by specific start date",
            "required": false,
            "name": "startDate"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter promotions by specific end date",
            "required": false,
            "name": "endDate"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter promotions by specific created date",
            "required": false,
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter promotions by specific updated date",
            "required": false,
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promotions/{promotionId}": {
      "patch": {
        "summary": "Update Promotion",
        "deprecated": false,
        "description": "Updates an existing promotion (shop owner access required)",
        "tags": [
          "PromotionController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eba4b3d31ac5646995989a79cc2ce522"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"name\": \"\",\n  \"code\": \"\",\n  \"description\": \"\",\n  \"startDate\": \"yyyy-MM-dd HH:mm:ss\",\n  \"endDate\": \"yyyy-MM-dd HH:mm:ss\",\n  \"discount\": 0,\n  \"discountType\": \"PERCENTAGE\",\n  \"discountValue\": 0,\n  \"maximumDiscountCap\": 0,\n  \"minimumOrderValue\": 0,\n  \"requiredQuantity\": 0,\n  \"freeQuantity\": 0,\n  \"usageLimit\": 0,\n  \"perCustomerUsageLimit\": 0,\n  \"status\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/03b252aa98d541e58c4710f5c763674a"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"id\": \"\",\n    \"name\": \"\",\n    \"code\": \"\",\n    \"description\": \"\",\n    \"startDate\": \"yyyy-MM-dd HH:mm:ss\",\n    \"endDate\": \"yyyy-MM-dd HH:mm:ss\",\n    \"discountType\": \"PERCENTAGE\",\n    \"discountValue\": 0,\n    \"maximumDiscountCap\": 0,\n    \"minimumOrderValue\": 0,\n    \"requiredQuantity\": 0,\n    \"freeQuantity\": 0,\n    \"usageLimit\": 0,\n    \"usageCount\": 0,\n    \"perCustomerUsageLimit\": 0,\n    \"discount\": 0,\n    \"status\": \"\",\n    \"tenantId\": \"\"\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "updatePromotion",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "promotionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "get": {
        "summary": "Show Promotion",
        "deprecated": false,
        "description": "Retrieves a specific promotion by ID (shop owner access required)",
        "tags": [
          "PromotionController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/03b252aa98d541e58c4710f5c763674a"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"id\": \"\",\n    \"name\": \"\",\n    \"code\": \"\",\n    \"description\": \"\",\n    \"startDate\": \"yyyy-MM-dd HH:mm:ss\",\n    \"endDate\": \"yyyy-MM-dd HH:mm:ss\",\n    \"discountType\": \"PERCENTAGE\",\n    \"discountValue\": 0,\n    \"maximumDiscountCap\": 0,\n    \"minimumOrderValue\": 0,\n    \"requiredQuantity\": 0,\n    \"freeQuantity\": 0,\n    \"usageLimit\": 0,\n    \"usageCount\": 0,\n    \"perCustomerUsageLimit\": 0,\n    \"discount\": 0,\n    \"status\": \"\",\n    \"tenantId\": \"\"\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getPromotion",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "promotionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "delete": {
        "summary": "Delete Promotion",
        "deprecated": false,
        "description": "Deletes a promotion (shop owner access required)",
        "tags": [
          "PromotionController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/b050c18517627f8783fcd8a207f82029"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {}\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "deletePromotion",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "promotionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/product-stats": {
      "get": {
        "summary": "Get Top Selling Products (Public)\n\nRetrieves a list of the most popular products based on total quantity sold.\nThis endpoint is public-facing and omits sensitive business metrics.",
        "deprecated": false,
        "tags": [
          "ProductStatsController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/d3ee64b917a373d07487cc531a9a7577"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "index",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Optional tenant ID (defaults to current context)",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "startDate"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "endDate"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/product-stats/top-by-quantity": {
      "get": {
        "summary": "Get Top Selling Products (Public)\n\nRetrieves a list of the most popular products based on total quantity sold.\nThis endpoint is public-facing and omits sensitive business metrics.",
        "deprecated": false,
        "tags": [
          "ProductStatsController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/d3ee64b917a373d07487cc531a9a7577"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getTopByQuantity",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Optional tenant ID (defaults to current context)",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "startDate"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "endDate"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "Maximum number of products to return (default 10)",
            "required": true,
            "example": 10,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/product-stats/top-by-revenue": {
      "get": {
        "summary": "Get Top Selling Products base on revenue\n\nRetrieves a list of the most popular products based on total revenue.",
        "deprecated": false,
        "tags": [
          "ProductStatsController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/d3ee64b917a373d07487cc531a9a7577"
                },
                "examples": {
[...]
