{
  "openapi": "3.1.0",
  "info": {
    "title": "Shopsynch API",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://api.shopsynch.com"
    }
  ],
  "tags": [
    {
      "name": "ReviewController",
      "description": "ReviewController"
    },
    {
      "name": "MerchantController",
      "description": "Merchant Management"
    },
    {
      "name": "TenantController",
      "description": "TenantController"
    },
    {
      "name": "VariationOptionController",
      "description": "VariationOptionController"
    },
    {
      "name": "OrderController",
      "description": "OrderController"
    },
    {
      "name": "LocalGovernmentController",
      "description": "LocalGovernmentController"
    },
    {
      "name": "SocialAuthController",
      "description": "SocialAuthController"
    },
    {
      "name": "ForgotPasswordController",
      "description": "Forgot Password Management (Unauthenticated)"
    },
    {
      "name": "ComplianceController",
      "description": "Tenant Compliance Management"
    },
    {
      "name": "ChangePasswordController",
      "description": "Change Password Management (authenticated)"
    },
    {
      "name": "ConfigController",
      "description": "Tenant Configuration Management"
    },
    {
      "name": "PaymentGatewayController",
      "description": "Payment Gateway"
    },
    {
      "name": "CustomerAuthController",
      "description": "Customer Authentication"
    },
    {
      "name": "AddressController",
      "description": "AddressController"
    },
    {
      "name": "PasswordlessAuthController",
      "description": "Password-less Authentication."
    },
    {
      "name": "ProductVariationPriceDetailController",
      "description": "ProductVariationPriceDetailController"
    },
    {
      "name": "BrandController",
      "description": "BrandController"
    },
    {
      "name": "TenantCategoryController",
      "description": "Tenant Category Management"
    },
    {
      "name": "EmailPreviewController",
      "description": "EmailPreviewController"
    },
    {
      "name": "StateController",
      "description": "StateController"
    },
    {
      "name": "RoleController",
      "description": "RoleController"
    },
    {
      "name": "UserController",
      "description": "UserController"
    },
    {
      "name": "CategoryController",
      "description": "CategoryController"
    },
    {
      "name": "CustomerOrderController",
      "description": "Customer Order Management"
    },
    {
      "name": "PaymentMethodController",
      "description": "Payment Method Management"
    },
    {
      "name": "SpecificationController",
      "description": "SpecificationController"
    },
    {
      "name": "WhatsAppWebhookController",
      "description": "WhatsAppWebhookController"
    },
    {
      "name": "ProductStatsController",
      "description": "ProductStatsController"
    },
    {
      "name": "ProductVariationController",
      "description": "Product Variation Management (Authenticated)"
    },
    {
      "name": "VariationController",
      "description": "VariationController"
    },
    {
      "name": "ProductController",
      "description": "Product Management"
    },
    {
      "name": "PaymentController",
      "description": "Payment Management"
    },
    {
      "name": "PromoAdController",
      "description": "Promo Ad API"
    },
    {
      "name": "AuthController",
      "description": "Authentication."
    },
    {
      "name": "ColorController",
      "description": "ColorController"
    },
    {
      "name": "PromotionController",
      "description": "Promotion management."
    },
    {
      "name": "CustomerController",
      "description": "CustomerController"
    },
    {
      "name": "CartSessionController",
      "description": "CartSessionController"
    },
    {
      "name": "HomeController",
      "description": "HomeController"
    },
    {
      "name": "AppTokenController",
      "description": "App Token Management"
    },
    {
      "name": "FileController",
      "description": "File Management (File Upload)"
    },
    {
      "name": "CartController",
      "description": "Cart Management"
    },
    {
      "name": "CountryController",
      "description": "CountryController"
    },
    {
      "name": "EmailVerificationController",
      "description": "Email Verification"
    },
    {
      "name": "WhatsAppAuthController",
      "description": "Whatsapp Authentication"
    },
    {
      "name": "DeliveryZoneController",
      "description": "Delivery Zone Management"
    }
  ],
  "paths": {
    "/v1/auth/signup/merchant": {
      "post": {
        "summary": "Register Shop Owner\n\nRegisters a new shop owner (merchant) account with store details. This endpoint handles the complete\nmerchant registration workflow including email verification token generation and merchant creation event publishing.",
        "deprecated": false,
        "description": "This endpoint:\n         - Validates email uniqueness before registration\n         - Automatically assigns the STORE_OWNER role\n         - Creates a new tenant (store) associated with the user\n         - Generates an email verification token (random digit format)\n         - Constructs a verification URL with token and email\n         - Sends a welcome email with verification details\n         - Publishes a MerchantCreatedEvent for event-driven processing\n         - Skips tenant context validation as registration is tenant-independent\n         - Email verification is mandatory before full account activation",
        "tags": [
          "AuthController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/be5a3275858f02b48cd10251ea4f6c64"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"email\": \"\",\n  \"password\": \"\",\n  \"fullName\": \"\",\n  \"phoneNumber\": \"\",\n  \"address\": \"\",\n  \"storeName\": \"\",\n  \"clientUrl\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/254f79178bf452d3dac759f9efafa03e"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"id\": \"\",\n    \"email\": \"\",\n    \"fullName\": \"\",\n    \"phoneNumber\": \"\",\n    \"address\": \"\",\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\"\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "registerShopOwner",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/auth/login": {
      "post": {
        "summary": "Login User (Shop Owner/Merchant)\n\nAuthenticates a shop owner or merchant user using email and password credentials. Upon successful authentication,\ngenerates a JWT token for subsequent API calls and returns the authenticated user's details.",
        "deprecated": false,
        "description": "This endpoint:\n         - Uses email and password for credential validation\n         - Generates a JWT token with user identity and roles embedded\n         - Token is valid for the configured expiration duration (typically 24 hours or per configuration)\n         - X-Session-Id header is optional and used for tracking login events\n         - Skips tenant context validation as login is tenant-independent\n         - Returned token must be included in Authorization header for subsequent API calls\n         - Password hashing verification is performed server-side for security",
        "tags": [
          "AuthController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/74459e55e7457da0c5623e94c10c67a8"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"email\": \"\",\n  \"password\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/6e73a854f2c2e2e317d65fda4171dbdb"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"user\": {\n    \"id\": \"\",\n    \"email\": \"\",\n    \"fullName\": \"\",\n    \"phoneNumber\": \"\",\n    \"address\": \"\",\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\"\n  },\n  \"token\": \"\",\n  \"expiresIn\": 0\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "login",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "Optional session identifier header (X-Session-Id) for tracking login events and session management.\n                 If not provided, login proceeds without explicit session tracking.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/auth/login/customer": {
      "post": {
        "summary": "Login Customer\n\nAuthenticates a customer user using email and password credentials. Upon successful authentication, generates a JWT token\nfor API access and returns the customer's profile information. Also publishes a customer login event for tracking and analytics.",
        "deprecated": false,
        "description": "This endpoint:\n         - Authenticates customer in the context of current tenant/store\n         - Generates JWT token specific to customer identity and permissions\n         - Returns complete customer profile including preferences, account type, and status\n         - X-Session-Id header enables customer login event publishing for tracking and audit logs\n         - Token expiration is returned in milliseconds for client-side token refresh logic\n         - Publishes CustomerLoginEvent only if sessionId is provided and tenant is valid\n         - Customer must belong to the current tenant context for successful authentication\n         - Requires active tenant context (unlike shop owner login which skips tenant check)",
        "tags": [
          "AuthController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/74459e55e7457da0c5623e94c10c67a8"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"email\": \"\",\n  \"password\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/becf101f59e154cae6943718562eb15c"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"customer\": {\n    \"id\": \"\",\n    \"email\": \"\",\n    \"fullName\": \"\",\n    \"phoneNumber\": \"\",\n    \"address\": \"\",\n    \"status\": \"\",\n    \"createdAt\": \"2026-03-22 05:54:16\",\n    \"updatedAt\": \"2026-03-22 05:54:16\"\n  },\n  \"token\": \"\",\n  \"expiresIn\": 0\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "loginAsCustomer",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "Optional session identifier header (X-Session-Id) for tracking customer login events and session correlation.\n                 If provided along with valid tenant, publishes CustomerLoginEvent for event-driven processing.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/auth/phone/initiate": {
      "post": {
        "summary": "Initiate OTP",
        "deprecated": false,
        "description": "A One Time Password is sent to user whatsapp number to verify their identity",
        "tags": [
          "WhatsAppAuthController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2e7944ae7df422d3342c791df4b6f1c8"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"phoneNumber\": \"\",\n  \"businessName\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/415f640f1beca86b33515c5b5ee24b47"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\"\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "initiateOTP",
        "parameters": []
      }
    },
    "/v1/auth/phone/verify": {
      "post": {
        "summary": "Verify OTP",
        "deprecated": false,
        "tags": [
          "WhatsAppAuthController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/14d0bb71ad1e63e835f05907705dfec5"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"phoneNumber\": \"\",\n  \"code\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/188b9bb9d0104823c882180f1008fd51"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"user\": {\n      \"id\": \"\",\n      \"email\": \"\",\n      \"fullName\": \"\",\n      \"phoneNumber\": \"\",\n      \"address\": \"\",\n      \"createdAt\": \"yyyy-MM-dd HH:mm:ss\"\n    },\n    \"token\": \"\",\n    \"expiresIn\": 0\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "verifyOTP",
        "parameters": []
      }
    },
    "/v1/payment-gateway/verify-account-number": {
      "post": {
        "summary": "Resolve Account Number:",
        "deprecated": false,
        "description": "In test mode use\n     {\n     *     \"accountNumber\": \"8131974410\",\n     *     \"bankCode\": \"001\",\n     *     \"gateway\": \"PAYSTACK\"\n     * }",
        "tags": [
          "PaymentGatewayController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5289aa20d129071ffa10d0f038f161e6"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"accountNumber\": \"\",\n  \"bankCode\": \"\",\n  \"gateway\": \"PAYSTACK\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/5350ef9f02c1859da36f94c283219071"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {}\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "resolveAccountDetail",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads": {
      "post": {
        "summary": "Create Promo Ad",
        "deprecated": false,
        "description": "This API creates a new promotional ad.",
        "tags": [
          "PromoAdController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5a3e406f41aa365c3be8651445ecc40e"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"adName\": \"\",\n  \"images\": [\n    \"\"\n  ],\n  \"ctaText\": \"\",\n  \"promoCode\": \"\",\n  \"buttons\": [\n    {\n      \"type\": \"\",\n      \"position\": \"\",\n      \"color\": \"\",\n      \"textColor\": \"\",\n      \"text\": \"\",\n      \"link\": \"\",\n      \"metadata\": {}\n    }\n  ],\n  \"status\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/060a9bf1d96252ea962f240ad68832c9"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-03-22 05:54:15\",\n    \"updatedAt\": \"2026-03-22 05:54:15\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "createAd",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "get": {
        "summary": "Fetch Promo Ads.",
        "deprecated": false,
        "description": "This API retrieves a list of promotional ads filtered by status and paginated using a cursor.\nThe response includes promotional ads in either DRAFT or PUBLISHED status.",
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/1d5fef0c94acd1a452368eee58e63e3b"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"data\": [\n      {\n        \"id\": \"\",\n        \"adName\": \"\",\n        \"images\": [\n          \"\"\n        ],\n        \"ctaText\": \"\",\n        \"promoCode\": \"\",\n        \"buttons\": [\n          {\n            \"type\": \"\",\n            \"position\": \"\",\n            \"color\": \"\",\n            \"textColor\": \"\",\n            \"text\": \"\",\n            \"link\": \"\",\n            \"metadata\": {}\n          }\n        ],\n        \"status\": \"\",\n        \"metadata\": {},\n        \"createdAt\": \"2026-03-22 05:54:15\",\n        \"updatedAt\": \"2026-03-22 05:54:15\"\n      }\n    ],\n    \"nextCursor\": \"yyyy-MM-dd HH:mm:ss\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAllAds",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "cursor"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 10,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads/{id}": {
      "patch": {
        "summary": "Update Promo Ad",
        "deprecated": false,
        "description": "This API updates a specific promotional ad by its ID.",
        "tags": [
          "PromoAdController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5a3e406f41aa365c3be8651445ecc40e"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"adName\": \"\",\n  \"images\": [\n    \"\"\n  ],\n  \"ctaText\": \"\",\n  \"promoCode\": \"\",\n  \"buttons\": [\n    {\n      \"type\": \"\",\n      \"position\": \"\",\n      \"color\": \"\",\n      \"textColor\": \"\",\n      \"text\": \"\",\n      \"link\": \"\",\n      \"metadata\": {}\n    }\n  ],\n  \"status\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/060a9bf1d96252ea962f240ad68832c9"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-03-22 05:54:15\",\n    \"updatedAt\": \"2026-03-22 05:54:15\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "updateAd",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "get": {
        "summary": "Get Promo Ad by ID",
        "deprecated": false,
        "description": "This API retrieves a specific promotional ad by its ID.",
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/060a9bf1d96252ea962f240ad68832c9"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-03-22 05:54:15\",\n    \"updatedAt\": \"2026-03-22 05:54:15\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAdById",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "delete": {
        "summary": "Delete Promo Ad.",
        "deprecated": false,
        "description": "This API deletes a specific promotional ad.",
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/d3ee64b917a373d07487cc531a9a7577"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "deleteAd",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads/published": {
      "get": {
        "summary": "Fetch Published Promo Ads.",
        "deprecated": false,
        "description": "This API retrieves a list of published promotional ads.\nThe response includes promotional ads in PUBLISHED status.",
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/c9e3552f2612ef1ab0f4c2affad27896"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"adName\": \"\",\n      \"images\": [\n        \"\"\n      ],\n      \"ctaText\": \"\",\n      \"promoCode\": \"\",\n      \"buttons\": [\n        {\n          \"type\": \"\",\n          \"position\": \"\",\n          \"color\": \"\",\n          \"textColor\": \"\",\n          \"text\": \"\",\n          \"link\": \"\",\n          \"metadata\": {}\n        }\n      ],\n      \"status\": \"\",\n      \"metadata\": {},\n      \"createdAt\": \"2026-03-22 05:54:15\",\n      \"updatedAt\": \"2026-03-22 05:54:15\"\n    }\n  ],\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAllPublishedAds",
        "parameters": [
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 3,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads/update/{id}/status/{status}": {
      "patch": {
        "summary": "Update Promo Ad Status.",
        "deprecated": false,
        "description": "This API updates the status of a specific promotional ad.\nThe response includes promotional ads in PUBLISHED status.",
        "tags": [
          "PromoAdController"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {},
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "curl -X PATCH -k -H \"X-MerchantApiKey:pk_test\" -i 'https://api.shopsynch.com/v1/promo-ads/update/{id}/status/{status}'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/d3ee64b917a373d07487cc531a9a7577"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "changeAdsStatus",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/customer-orders": {
      "get": {
        "summary": "Fetch Customer Orders.\nThis API retrieves a list of orders for the authenticated customer.\nThe response includes orders in PUBLISHED status.",
        "deprecated": false,
        "tags": [
          "CustomerOrderController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/45b226a2ed6fb6d7df5f93fc04946382"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getCustomerOrders",
        "parameters": [
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 0,
            "name": "page"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 100,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "CREATED_AT",
            "name": "sortField"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "DESC",
            "name": "sortDir"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Search by order number (exact match) - This is a separate field to allow for precise filtering by order number, while the 'search' field can be used for more general text search across multiple fields (like order number and customer name).",
            "required": false,
            "name": "orderNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "General search text for order number or customer name - This field allows for a broader search that can match either the order number or the customer's name, providing more flexibility in filtering orders based on user input.",
            "required": false,
            "name": "search"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by order status",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by payment status",
            "required": false,
            "name": "paymentStatus"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range start",
            "required": false,
            "name": "dateFrom"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range end",
            "required": false,
            "name": "dateTo"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by minimum amount",
            "required": false,
            "example": 0.0,
            "name": "minAmount"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by maximum amount",
            "required": false,
            "example": 0.0,
            "name": "maxAmount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by customer ID",
            "required": false,
            "name": "customerId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by product ID (orders that contain a specific product)",
            "required": false,
            "name": "productId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Authenticated customer ID (internal use)",
            "required": false,
            "name": "authCustomer"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-22 05:54:16\"",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-22 05:54:16\"",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonLocked"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "credentialsNonExpired"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "password"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "addresses"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenant"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleResource"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "role"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/customer-orders/{customerId}": {
      "get": {
        "summary": "Fetch Customer Orders.\nThis API retrieves a list of orders for a specific customer.",
        "deprecated": false,
        "tags": [
          "CustomerOrderController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/45b226a2ed6fb6d7df5f93fc04946382"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "fetchCustomerOrders",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "customerId"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 0,
            "name": "page"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 100,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "ORDER_DATE",
            "name": "sortFieldParam"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "DESC",
            "name": "sortDirectionParam"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Search by order number (exact match) - This is a separate field to allow for precise filtering by order number, while the 'search' field can be used for more general text search across multiple fields (like order number and customer name).",
            "required": false,
            "name": "orderNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "General search text for order number or customer name - This field allows for a broader search that can match either the order number or the customer's name, providing more flexibility in filtering orders based on user input.",
            "required": false,
            "name": "search"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by order status",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by payment status",
            "required": false,
            "name": "paymentStatus"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range start",
            "required": false,
            "name": "dateFrom"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range end",
            "required": false,
            "name": "dateTo"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by minimum amount",
            "required": false,
            "example": 0.0,
            "name": "minAmount"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by maximum amount",
            "required": false,
            "example": 0.0,
            "name": "maxAmount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by customer ID",
            "required": false,
            "name": "customerId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by product ID (orders that contain a specific product)",
            "required": false,
            "name": "productId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Authenticated customer ID (internal use)",
            "required": false,
            "name": "authCustomer"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/customer-orders/{orderId}/items": {
      "get": {
        "summary": "Fetch Order Items.\nThis API retrieves a list of items in a specific order.",
        "deprecated": false,
        "tags": [
          "CustomerOrderController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/373c7540d51279b3e63b91fc308097e1"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"orderId\": \"\",\n      \"quantity\": 0,\n      \"price\": 0.0,\n      \"totalPrice\": 0.0,\n      \"productId\": \"\",\n      \"variationId\": \"\",\n      \"variationPriceDetailId\": \"\",\n      \"product\": {\n        \"id\": \"\",\n        \"name\": \"\",\n        \"slug\": \"\",\n        \"description\": \"\",\n        \"image\": \"\",\n        \"thumbnail\": \"\",\n        \"imageList\": [\n          \"\"\n        ],\n        \"price\": 0.0,\n        \"newPrice\": 0.0,\n        \"ramSize\": \"\",\n        \"Storage\": \"\",\n        \"size\": \"\",\n        \"sku\": \"\",\n        \"quantityInStock\": 0,\n        \"brand\": \"\",\n        \"discount\": 0.0,\n        \"category\": \"\",\n        \"color\": \"\",\n        \"rating\": 0,\n        \"features\": [\n          \"\"\n        ],\n        \"specification\": [\n          {\n            \"key\": \"\",\n            \"value\": \"\"\n          }\n        ],\n        \"variation\": {\n          \"id\": \"\",\n          \"customColor\": \"\",\n          \"color\": \"\",\n          \"image\": \"\"\n        }\n      },\n      \"customer\": {\n        \"id\": \"\",\n        \"email\": \"\",\n        \"fullName\": \"\",\n        \"phoneNumber\": \"\",\n        \"address\": \"\",\n        \"status\": \"\",\n        \"createdAt\": \"2026-03-22 05:54:16\",\n        \"updatedAt\": \"2026-03-22 05:54:16\"\n      },\n      \"createdAt\": \"yyyy-MM-dd HH:mm:ss\"\n    }\n  ]\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getOrderItems",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "orderId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-22 05:54:16\"",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-22 05:54:16\"",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonLocked"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "credentialsNonExpired"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "password"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/carts/items": {
      "get": {
        "summary": "List Items In Cart.",
        "deprecated": false,
        "description": "This API retrieves a list of items in the cart.",
        "tags": [
          "CartController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/bf977528fdf7806fb74e207974a9120b"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"productId\": \"\",\n      \"variationId\": \"\",\n      \"variationPriceId\": \"\",\n      \"customerId\": \"\",\n      \"name\": \"\",\n      \"image\": \"\",\n      \"price\": 0.0,\n      \"newPrice\": 0.0,\n      \"ramSize\": \"\",\n      \"Storage\": \"\",\n      \"size\": \"\",\n      \"sku\": \"\",\n      \"quantityInStock\": 0,\n      \"discount\": 0.0,\n      \"color\": \"\",\n      \"rating\": 0,\n      \"sessionId\": \"\",\n      \"quantity\": 0\n    }\n  ],\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "listItemsInCart",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-22 05:54:17\"",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-22 05:54:17\"",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonLocked"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "credentialsNonExpired"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "password"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/add": {
      "post": {
        "summary": "Add Item To Cart.",
        "deprecated": false,
        "description": "This API adds an item to the cart.",
        "tags": [
          "CartController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/b2f2da0a457bb8c3f55ad4435f028b65"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"productId\": \"\",\n  \"variationId\": \"\",\n  \"tenantId\": \"\",\n  \"variationPriceId\": \"\",\n  \"quantity\": 0,\n  \"sessionId\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/0f1eb4faa3124add5220f684bb4df9ff"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"productId\": \"\",\n    \"variationId\": \"\",\n    \"variationPriceId\": \"\",\n    \"customerId\": \"\",\n    \"name\": \"\",\n    \"image\": \"\",\n    \"price\": 0.0,\n    \"newPrice\": 0.0,\n    \"ramSize\": \"\",\n    \"Storage\": \"\",\n    \"size\": \"\",\n    \"sku\": \"\",\n    \"quantityInStock\": 0,\n    \"discount\": 0.0,\n    \"color\": \"\",\n    \"rating\": 0,\n    \"sessionId\": \"\",\n    \"quantity\": 0\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "addItemToCart",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-22 05:54:17\"",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-22 05:54:17\"",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonLocked"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "credentialsNonExpired"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "password"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/remove/{carItemId}": {
      "patch": {
        "summary": "Remove Item From Cart.",
        "deprecated": false,
        "description": "This API removes an item from the cart.",
        "tags": [
          "CartController"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/d751713988987e9331980363e24189ce"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "curl -X PATCH -k -H \"X-MerchantApiKey:pk_test\" -H \"X-SessionId:ee5bfa88-56a2-4551-ae1d-d753984ae1d9\" -H \"X-Session-Id\" -i 'https://api.shopsynch.com/v1/carts/remove/{carItemId}'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e52338e7adbd4c5d232100af8b549607"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "removeItemFromCart",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "carItemId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/item/increment/quantity/{cartId}": {
      "patch": {
        "summary": "Increment Item Quantity.",
        "deprecated": false,
        "description": "This API increments the quantity of an item in the cart.",
        "tags": [
          "CartController"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/d751713988987e9331980363e24189ce"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "curl -X PATCH -k -H \"X-MerchantApiKey:pk_test\" -H \"X-SessionId:ee5bfa88-56a2-4551-ae1d-d753984ae1d9\" -H \"X-Session-Id\" -i 'https://api.shopsynch.com/v1/carts/item/increment/quantity/{cartId}'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e52338e7adbd4c5d232100af8b549607"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "incrementItemQuantity",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "cartId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/item/decrement/quantity/{cartId}": {
      "patch": {
        "summary": "Decrement Item Quantity.",
        "deprecated": false,
        "description": "This API decrements the quantity of an item in the cart.",
        "tags": [
          "CartController"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/d751713988987e9331980363e24189ce"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "curl -X PATCH -k -H \"X-MerchantApiKey:pk_test\" -H \"X-SessionId:ee5bfa88-56a2-4551-ae1d-d753984ae1d9\" -H \"X-Session-Id\" -i 'https://api.shopsynch.com/v1/carts/item/decrement/quantity/{cartId}'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e52338e7adbd4c5d232100af8b549607"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "decrementItemQuantity",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "cartId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/clear": {
      "delete": {
        "summary": "Clear Cart.",
        "deprecated": false,
        "description": "This API clears the cart for the authenticated customer or via sessionId.",
        "tags": [
          "CartController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e52338e7adbd4c5d232100af8b549607"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "clearCart",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-22 05:54:17\"",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-22 05:54:17\"",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonLocked"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "credentialsNonExpired"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "password"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "The X-SessionId header is mandatory for managing cart for none guest customers., if your customer is authenticated, then it will be ignored",
            "required": false,
            "example": "ee5bfa88-56a2-4551-ae1d-d753984ae1d9",
            "name": "X-SessionId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "No comments found.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/carts/checkout": {
      "post": {
        "summary": "Checkout Cart.",
        "deprecated": false,
        "description": "This API checks out the cart for the authenticated customer.",
        "tags": [
          "CartController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/be58bf4c0fc439162ce820306cd1b180"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"firstName\": \"\",\n  \"lastName\": \"\",\n  \"email\": \"\",\n  \"phoneNumber\": \"\",\n  \"country\": \"\",\n  \"currency\": \"\",\n  \"state\": \"\",\n  \"city\": \"\",\n  \"area\": \"\",\n  \"landmark\": \"\",\n  \"meta\": {},\n  \"shippingAddress\": \"\",\n  \"billingAddress\": \"\",\n  \"totalAmount\": 0.0,\n  \"shippingMethod\": \"\",\n  \"paymentMethod\": \"\",\n  \"promoCode\": \"\",\n  \"tenantId\": \"\",\n  \"sessionId\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/e52338e7adbd4c5d232100af8b549607"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "checkoutCart",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-22 05:54:17\"",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-22 05:54:17\"",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonLocked"
          },
          {
            "schema": {
              "format": "boolean",
[...]
