{
  "openapi": "3.1.0",
  "info": {
    "title": "Shopsynch API",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://api.shopsynch.com"
    }
  ],
  "tags": [
    {
      "name": "ChangePasswordController",
      "description": "ChangePasswordController"
    },
    {
      "name": "ForgotPasswordController",
      "description": "ForgotPasswordController"
    },
    {
      "name": "ReviewController",
      "description": "ReviewController"
    },
    {
      "name": "MerchantController",
      "description": "Merchant Management"
    },
    {
      "name": "TenantController",
      "description": "TenantController"
    },
    {
      "name": "VariationOptionController",
      "description": "VariationOptionController"
    },
    {
      "name": "OrderController",
      "description": "OrderController"
    },
    {
      "name": "LocalGovernmentController",
      "description": "LocalGovernmentController"
    },
    {
      "name": "SocialAuthController",
      "description": "SocialAuthController"
    },
    {
      "name": "ConfigController",
      "description": "ConfigController"
    },
    {
      "name": "CartController",
      "description": "Cart Management\nThis API provides endpoints for managing customer carts."
    },
    {
      "name": "PaymentController",
      "description": "PaymentController"
    },
    {
      "name": "EmailVerificationController",
      "description": "EmailVerificationController"
    },
    {
      "name": "PaymentGatewayController",
      "description": "Payment Gateway"
    },
    {
      "name": "CustomerAuthController",
      "description": "Customer Authentication"
    },
    {
      "name": "PaymentMethodController",
      "description": "PaymentMethodController"
    },
    {
      "name": "AddressController",
      "description": "AddressController"
    },
    {
      "name": "ProductVariationPriceDetailController",
      "description": "ProductVariationPriceDetailController"
    },
    {
      "name": "BrandController",
      "description": "BrandController"
    },
    {
      "name": "EmailPreviewController",
      "description": "EmailPreviewController"
    },
    {
      "name": "AppTokenController",
      "description": "AppTokenController"
    },
    {
      "name": "PromoAdController",
      "description": "Promo Ad API\nPromo ads enable store owners or admins to seamlessly add advertisements to their homepage or any other page on their website.\nWhether it&apos;s in the hero section or any other part of the webpage,\nthis feature provides the flexibility to display promotions exactly where they’ll be most effective,\nhelping you grab attention and increase engagement."
    },
    {
      "name": "StateController",
      "description": "StateController"
    },
    {
      "name": "ComplianceController",
      "description": "ComplianceController"
    },
    {
      "name": "RoleController",
      "description": "RoleController"
    },
    {
      "name": "UserController",
      "description": "UserController"
    },
    {
      "name": "TenantCategoryController",
      "description": "TenantCategoryController"
    },
    {
      "name": "CategoryController",
      "description": "CategoryController"
    },
    {
      "name": "ProductController",
      "description": "ProductController"
    },
    {
      "name": "CustomerOrderController",
      "description": "Customer Order Management"
    },
    {
      "name": "SpecificationController",
      "description": "SpecificationController"
    },
    {
      "name": "WhatsAppWebhookController",
      "description": "WhatsAppWebhookController"
    },
    {
      "name": "ProductStatsController",
      "description": "ProductStatsController"
    },
    {
      "name": "FileController",
      "description": "FileController"
    },
    {
      "name": "VariationController",
      "description": "VariationController"
    },
    {
      "name": "PaymentSecretController",
      "description": "PaymentSecretController"
    },
    {
      "name": "AuthController",
      "description": "Authentication."
    },
    {
      "name": "ColorController",
      "description": "ColorController"
    },
    {
      "name": "PromotionController",
      "description": "Promotion management."
    },
    {
      "name": "CustomerController",
      "description": "CustomerController"
    },
    {
      "name": "CartSessionController",
      "description": "CartSessionController"
    },
    {
      "name": "HomeController",
      "description": "HomeController"
    },
    {
      "name": "CountryController",
      "description": "CountryController"
    },
    {
      "name": "TestAppController",
      "description": "TestAppController"
    },
    {
      "name": "WhatsAppAuthController",
      "description": "Whatsapp Authentication"
    },
    {
      "name": "ProductVariationController",
      "description": "ProductVariationController"
    },
    {
      "name": "DeliveryZoneController",
      "description": "Delivery Zone Management"
    }
  ],
  "paths": {
    "/v1/auth/signup/merchant.do": {
      "post": {
        "summary": "Register Shop Owner\n\nRegisters a new shop owner (merchant) account with store details. This endpoint handles the complete\nmerchant registration workflow including email verification token generation and merchant creation event publishing.",
        "deprecated": false,
        "description": "This endpoint:\n         - Validates email uniqueness before registration\n         - Automatically assigns the STORE_OWNER role\n         - Creates a new tenant (store) associated with the user\n         - Generates an email verification token (random digit format)\n         - Constructs a verification URL with token and email\n         - Sends a welcome email with verification details\n         - Publishes a MerchantCreatedEvent for event-driven processing\n         - Skips tenant context validation as registration is tenant-independent\n         - Email verification is mandatory before full account activation",
        "tags": [
          "AuthController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/4d56ff6fb15b5d864e867e4d4bd6fb46"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"email\": \"\",\n  \"password\": \"\",\n  \"fullName\": \"\",\n  \"phoneNumber\": \"\",\n  \"address\": \"\",\n  \"storeName\": \"\",\n  \"clientUrl\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/254f79178bf452d3dac759f9efafa03e"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"id\": \"\",\n    \"email\": \"\",\n    \"fullName\": \"\",\n    \"phoneNumber\": \"\",\n    \"address\": \"\",\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\"\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "registerShopOwner",
        "parameters": []
      }
    },
    "/v1/auth/login.do": {
      "post": {
        "summary": "Login User (Shop Owner/Merchant)\n\nAuthenticates a shop owner or merchant user using email and password credentials. Upon successful authentication,\ngenerates a JWT token for subsequent API calls and returns the authenticated user's details.",
        "deprecated": false,
        "description": "This endpoint:\n         - Uses email and password for credential validation\n         - Generates a JWT token with user identity and roles embedded\n         - Token is valid for the configured expiration duration (typically 24 hours or per configuration)\n         - X-Session-Id header is optional and used for tracking login events\n         - Skips tenant context validation as login is tenant-independent\n         - Returned token must be included in Authorization header for subsequent API calls\n         - Password hashing verification is performed server-side for security",
        "tags": [
          "AuthController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/74459e55e7457da0c5623e94c10c67a8"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"email\": \"\",\n  \"password\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/6e73a854f2c2e2e317d65fda4171dbdb"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"user\": {\n    \"id\": \"\",\n    \"email\": \"\",\n    \"fullName\": \"\",\n    \"phoneNumber\": \"\",\n    \"address\": \"\",\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\"\n  },\n  \"token\": \"\",\n  \"expiresIn\": 0\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "login",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "Optional session identifier header (X-Session-Id) for tracking login events and session management.\n                 If not provided, login proceeds without explicit session tracking.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/auth/login/customer.do": {
      "post": {
        "summary": "Login Customer\n\nAuthenticates a customer user using email and password credentials. Upon successful authentication, generates a JWT token\nfor API access and returns the customer's profile information. Also publishes a customer login event for tracking and analytics.",
        "deprecated": false,
        "description": "This endpoint:\n         - Authenticates customer in the context of current tenant/store\n         - Generates JWT token specific to customer identity and permissions\n         - Returns complete customer profile including preferences, account type, and status\n         - X-Session-Id header enables customer login event publishing for tracking and audit logs\n         - Token expiration is returned in milliseconds for client-side token refresh logic\n         - Publishes CustomerLoginEvent only if sessionId is provided and tenant is valid\n         - Customer must belong to the current tenant context for successful authentication\n         - Requires active tenant context (unlike shop owner login which skips tenant check)",
        "tags": [
          "AuthController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/74459e55e7457da0c5623e94c10c67a8"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"email\": \"\",\n  \"password\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/7d1a566aafe1e52aa064b25088b3ea0b"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"customer\": {\n    \"id\": \"\",\n    \"email\": \"\",\n    \"fullName\": \"\",\n    \"phoneNumber\": \"\",\n    \"address\": \"\",\n    \"status\": \"\",\n    \"createdAt\": \"2026-03-16 19:37:12\",\n    \"updatedAt\": \"2026-03-16 19:37:12\"\n  },\n  \"token\": \"\",\n  \"expiresIn\": 0\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "loginAsCustomer",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "Optional session identifier header (X-Session-Id) for tracking customer login events and session correlation.\n                 If provided along with valid tenant, publishes CustomerLoginEvent for event-driven processing.",
            "required": false,
            "example": "",
            "name": "X-Session-Id"
          }
        ]
      }
    },
    "/v1/internal/test/create/merchant/profile.do": {
      "post": {
        "summary": "createUser",
        "deprecated": false,
        "description": "",
        "tags": [
          "TestAppController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/b5e208b06b303dc733193f7c04d7d684"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"userId\": \"\",\n  \"email\": \"\",\n  \"password\": \"\",\n  \"roleId\": \"\",\n  \"tenantId\": \"\",\n  \"tenantName\": \"\",\n  \"code\": \"\",\n  \"liveKey\": \"\",\n  \"testKey\": \"\",\n  \"createdBy\": \"\",\n  \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n  \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\",\n  \"user\": {\n    \"createdAt\": \"2026-03-16 19:37:13\",\n    \"updatedAt\": \"2026-03-16 19:37:13\",\n    \"id\": \"\",\n    \"email\": \"\",\n    \"tenantId\": \"\",\n    \"password\": \"\",\n    \"fullName\": \"\",\n    \"dateOfBirth\": \"\",\n    \"phoneNumber\": \"\",\n    \"nationality\": \"\",\n    \"idType\": \"\",\n    \"idNumber\": \"\",\n    \"idDocumentUrl\": \"\",\n    \"profileUrl\": \"\",\n    \"status\": \"\",\n    \"address\": \"\",\n    \"version\": 0,\n    \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"role\": {\n      \"createdAt\": \"2026-03-16 19:37:13\",\n      \"updatedAt\": \"2026-03-16 19:37:13\",\n      \"id\": \"\",\n      \"name\": \"\",\n      \"status\": true,\n      \"slug\": \"\",\n      \"permissions\": [\n        {\n          \"createdAt\": \"2026-03-16 19:37:13\",\n          \"updatedAt\": \"2026-03-16 19:37:13\",\n          \"id\": \"\",\n          \"name\": \"\",\n          \"status\": true,\n          \"slug\": \"\"\n        }\n      ]\n    },\n    \"tenant\": {\n      \"createdAt\": \"2026-03-16 19:37:13\",\n      \"updatedAt\": \"2026-03-16 19:37:13\",\n      \"id\": \"\",\n      \"businessTradingName\": \"\",\n      \"legalBusinessName\": \"\",\n      \"name\": \"\",\n      \"businessType\": \"\",\n      \"businessRegistrationNumber\": \"\",\n      \"businessCountry\": \"\",\n      \"businessCity\": \"\",\n      \"businessAddress\": \"\",\n      \"paystackSubaccountCode\": \"\",\n      \"accountName\": \"\",\n      \"accountNumber\": \"\",\n      \"bankName\": \"\",\n      \"businessStorefrontUrl\": \"\",\n      \"businessDescription\": \"\",\n      \"industry\": \"\",\n      \"businessTaxIdNumber\": \"\",\n      \"businessExpectedMonthlyIncome\": \"\",\n      \"staffSize\": 0,\n      \"businessPrimaryPhoneNumber\": \"\",\n      \"businessSecondaryPhoneNumber\": \"\",\n      \"businessSupportEmailAddress\": \"\",\n      \"businessGeneralEmailAddress\": \"\",\n      \"kybCompleted\": true,\n      \"profileDetailFilled\": true,\n      \"contactDetailFilled\": true,\n      \"kycCompleted\": true,\n      \"documentsVerified\": true,\n      \"bankAccountVerified\": true,\n      \"termsAccepted\": true,\n      \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n      \"complianceNotes\": [\n        \"\"\n      ],\n      \"liveModeReady\": true,\n      \"currency\": \"\",\n      \"timezone\": \"\",\n      \"language\": \"\",\n      \"code\": \"\",\n      \"currentMode\": \"\",\n      \"liveKey\": \"\",\n      \"testKey\": \"\",\n      \"liveWhitelistedDomains\": [\n        \"\"\n      ],\n      \"testWhitelistedDomains\": [\n        \"\"\n      ],\n      \"status\": true,\n      \"createdBy\": \"\",\n      \"user\": {\n        \"createdAt\": \"2026-03-16 19:37:13\",\n        \"updatedAt\": \"2026-03-16 19:37:13\",\n        \"id\": \"\",\n        \"email\": \"\",\n        \"tenantId\": \"\",\n        \"password\": \"\",\n        \"fullName\": \"\",\n        \"dateOfBirth\": \"\",\n        \"phoneNumber\": \"\",\n        \"nationality\": \"\",\n        \"idType\": \"\",\n        \"idNumber\": \"\",\n        \"idDocumentUrl\": \"\",\n        \"profileUrl\": \"\",\n        \"status\": \"\",\n        \"address\": \"\",\n        \"version\": 0,\n        \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n        \"role\": {\n          \"createdAt\": \"2026-03-16 19:37:13\",\n          \"updatedAt\": \"2026-03-16 19:37:13\",\n          \"id\": \"\",\n          \"name\": \"\",\n          \"status\": true,\n          \"slug\": \"\",\n          \"permissions\": [\n            {\n              \"createdAt\": \"2026-03-16 19:37:13\",\n              \"updatedAt\": \"2026-03-16 19:37:13\",\n              \"id\": \"\",\n              \"name\": \"\",\n              \"status\": true,\n              \"slug\": \"\"\n            }\n          ]\n        },\n        \"tenant\": {\n          \"createdAt\": \"2026-03-16 19:37:13\",\n          \"updatedAt\": \"2026-03-16 19:37:13\",\n          \"id\": \"\",\n          \"businessTradingName\": \"\",\n          \"legalBusinessName\": \"\",\n          \"name\": \"\",\n          \"businessType\": \"\",\n          \"businessRegistrationNumber\": \"\",\n          \"businessCountry\": \"\",\n          \"businessCity\": \"\",\n          \"businessAddress\": \"\",\n          \"paystackSubaccountCode\": \"\",\n          \"accountName\": \"\",\n          \"accountNumber\": \"\",\n          \"bankName\": \"\",\n          \"businessStorefrontUrl\": \"\",\n          \"businessDescription\": \"\",\n          \"industry\": \"\",\n          \"businessTaxIdNumber\": \"\",\n          \"businessExpectedMonthlyIncome\": \"\",\n          \"staffSize\": 0,\n          \"businessPrimaryPhoneNumber\": \"\",\n          \"businessSecondaryPhoneNumber\": \"\",\n          \"businessSupportEmailAddress\": \"\",\n          \"businessGeneralEmailAddress\": \"\",\n          \"kybCompleted\": true,\n          \"profileDetailFilled\": true,\n          \"contactDetailFilled\": true,\n          \"kycCompleted\": true,\n          \"documentsVerified\": true,\n          \"bankAccountVerified\": true,\n          \"termsAccepted\": true,\n          \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n          \"complianceNotes\": [\n            \"\"\n          ],\n          \"liveModeReady\": true,\n          \"currency\": \"\",\n          \"timezone\": \"\",\n          \"language\": \"\",\n          \"code\": \"\",\n          \"currentMode\": \"\",\n          \"liveKey\": \"\",\n          \"testKey\": \"\",\n          \"liveWhitelistedDomains\": [\n            \"\"\n          ],\n          \"testWhitelistedDomains\": [\n            \"\"\n          ],\n          \"status\": true,\n          \"createdBy\": \"\",\n          \"user\": {\n            \"createdAt\": \"2026-03-16 19:37:13\",\n            \"updatedAt\": \"2026-03-16 19:37:13\",\n            \"id\": \"\",\n            \"email\": \"\",\n            \"tenantId\": \"\",\n            \"password\": \"\",\n            \"fullName\": \"\",\n            \"dateOfBirth\": \"\",\n            \"phoneNumber\": \"\",\n            \"nationality\": \"\",\n            \"idType\": \"\",\n            \"idNumber\": \"\",\n            \"idDocumentUrl\": \"\",\n            \"profileUrl\": \"\",\n            \"status\": \"\",\n            \"address\": \"\",\n            \"version\": 0,\n            \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n            \"role\": {\n              \"$ref\": \"...\"\n            },\n            \"tenant\": {\n              \"$ref\": \"...\"\n            }\n          }\n        }\n      }\n    }\n  },\n  \"tenant\": {\n    \"createdAt\": \"2026-03-16 19:37:13\",\n    \"updatedAt\": \"2026-03-16 19:37:13\",\n    \"id\": \"\",\n    \"businessTradingName\": \"\",\n    \"legalBusinessName\": \"\",\n    \"name\": \"\",\n    \"businessType\": \"\",\n    \"businessRegistrationNumber\": \"\",\n    \"businessCountry\": \"\",\n    \"businessCity\": \"\",\n    \"businessAddress\": \"\",\n    \"paystackSubaccountCode\": \"\",\n    \"accountName\": \"\",\n    \"accountNumber\": \"\",\n    \"bankName\": \"\",\n    \"businessStorefrontUrl\": \"\",\n    \"businessDescription\": \"\",\n    \"industry\": \"\",\n    \"businessTaxIdNumber\": \"\",\n    \"businessExpectedMonthlyIncome\": \"\",\n    \"staffSize\": 0,\n    \"businessPrimaryPhoneNumber\": \"\",\n    \"businessSecondaryPhoneNumber\": \"\",\n    \"businessSupportEmailAddress\": \"\",\n    \"businessGeneralEmailAddress\": \"\",\n    \"kybCompleted\": true,\n    \"profileDetailFilled\": true,\n    \"contactDetailFilled\": true,\n    \"kycCompleted\": true,\n    \"documentsVerified\": true,\n    \"bankAccountVerified\": true,\n    \"termsAccepted\": true,\n    \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"complianceNotes\": [\n      \"\"\n    ],\n    \"liveModeReady\": true,\n    \"currency\": \"\",\n    \"timezone\": \"\",\n    \"language\": \"\",\n    \"code\": \"\",\n    \"currentMode\": \"\",\n    \"liveKey\": \"\",\n    \"testKey\": \"\",\n    \"liveWhitelistedDomains\": [\n      \"\"\n    ],\n    \"testWhitelistedDomains\": [\n      \"\"\n    ],\n    \"status\": true,\n    \"createdBy\": \"\",\n    \"user\": {\n      \"createdAt\": \"2026-03-16 19:37:13\",\n      \"updatedAt\": \"2026-03-16 19:37:13\",\n      \"id\": \"\",\n      \"email\": \"\",\n      \"tenantId\": \"\",\n      \"password\": \"\",\n      \"fullName\": \"\",\n      \"dateOfBirth\": \"\",\n      \"phoneNumber\": \"\",\n      \"nationality\": \"\",\n      \"idType\": \"\",\n      \"idNumber\": \"\",\n      \"idDocumentUrl\": \"\",\n      \"profileUrl\": \"\",\n      \"status\": \"\",\n      \"address\": \"\",\n      \"version\": 0,\n      \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n      \"role\": {\n        \"createdAt\": \"2026-03-16 19:37:13\",\n        \"updatedAt\": \"2026-03-16 19:37:13\",\n        \"id\": \"\",\n        \"name\": \"\",\n        \"status\": true,\n        \"slug\": \"\",\n        \"permissions\": [\n          {\n            \"createdAt\": \"2026-03-16 19:37:13\",\n            \"updatedAt\": \"2026-03-16 19:37:13\",\n            \"id\": \"\",\n            \"name\": \"\",\n            \"status\": true,\n            \"slug\": \"\"\n          }\n        ]\n      },\n      \"tenant\": {\n        \"createdAt\": \"2026-03-16 19:37:13\",\n        \"updatedAt\": \"2026-03-16 19:37:13\",\n        \"id\": \"\",\n        \"businessTradingName\": \"\",\n        \"legalBusinessName\": \"\",\n        \"name\": \"\",\n        \"businessType\": \"\",\n        \"businessRegistrationNumber\": \"\",\n        \"businessCountry\": \"\",\n        \"businessCity\": \"\",\n        \"businessAddress\": \"\",\n        \"paystackSubaccountCode\": \"\",\n        \"accountName\": \"\",\n        \"accountNumber\": \"\",\n        \"bankName\": \"\",\n        \"businessStorefrontUrl\": \"\",\n        \"businessDescription\": \"\",\n        \"industry\": \"\",\n        \"businessTaxIdNumber\": \"\",\n        \"businessExpectedMonthlyIncome\": \"\",\n        \"staffSize\": 0,\n        \"businessPrimaryPhoneNumber\": \"\",\n        \"businessSecondaryPhoneNumber\": \"\",\n        \"businessSupportEmailAddress\": \"\",\n        \"businessGeneralEmailAddress\": \"\",\n        \"kybCompleted\": true,\n        \"profileDetailFilled\": true,\n        \"contactDetailFilled\": true,\n        \"kycCompleted\": true,\n        \"documentsVerified\": true,\n        \"bankAccountVerified\": true,\n        \"termsAccepted\": true,\n        \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n        \"complianceNotes\": [\n          \"\"\n        ],\n        \"liveModeReady\": true,\n        \"currency\": \"\",\n        \"timezone\": \"\",\n        \"language\": \"\",\n        \"code\": \"\",\n        \"currentMode\": \"\",\n        \"liveKey\": \"\",\n        \"testKey\": \"\",\n        \"liveWhitelistedDomains\": [\n          \"\"\n        ],\n        \"testWhitelistedDomains\": [\n          \"\"\n        ],\n        \"status\": true,\n        \"createdBy\": \"\",\n        \"user\": {\n          \"createdAt\": \"2026-03-16 19:37:13\",\n          \"updatedAt\": \"2026-03-16 19:37:13\",\n          \"id\": \"\",\n          \"email\": \"\",\n          \"tenantId\": \"\",\n          \"password\": \"\",\n          \"fullName\": \"\",\n          \"dateOfBirth\": \"\",\n          \"phoneNumber\": \"\",\n          \"nationality\": \"\",\n          \"idType\": \"\",\n          \"idNumber\": \"\",\n          \"idDocumentUrl\": \"\",\n          \"profileUrl\": \"\",\n          \"status\": \"\",\n          \"address\": \"\",\n          \"version\": 0,\n          \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n          \"role\": {\n            \"createdAt\": \"2026-03-16 19:37:13\",\n            \"updatedAt\": \"2026-03-16 19:37:13\",\n            \"id\": \"\",\n            \"name\": \"\",\n            \"status\": true,\n            \"slug\": \"\",\n            \"permissions\": [\n              {\n                \"$ref\": \"...\"\n              }\n            ]\n          },\n          \"tenant\": {\n            \"createdAt\": \"2026-03-16 19:37:13\",\n            \"updatedAt\": \"2026-03-16 19:37:13\",\n            \"id\": \"\",\n            \"businessTradingName\": \"\",\n            \"legalBusinessName\": \"\",\n            \"name\": \"\",\n            \"businessType\": \"\",\n            \"businessRegistrationNumber\": \"\",\n            \"businessCountry\": \"\",\n            \"businessCity\": \"\",\n            \"businessAddress\": \"\",\n            \"paystackSubaccountCode\": \"\",\n            \"accountName\": \"\",\n            \"accountNumber\": \"\",\n            \"bankName\": \"\",\n            \"businessStorefrontUrl\": \"\",\n            \"businessDescription\": \"\",\n            \"industry\": \"\",\n            \"businessTaxIdNumber\": \"\",\n            \"businessExpectedMonthlyIncome\": \"\",\n            \"staffSize\": 0,\n            \"businessPrimaryPhoneNumber\": \"\",\n            \"businessSecondaryPhoneNumber\": \"\",\n            \"businessSupportEmailAddress\": \"\",\n            \"businessGeneralEmailAddress\": \"\",\n            \"kybCompleted\": true,\n            \"profileDetailFilled\": true,\n            \"contactDetailFilled\": true,\n            \"kycCompleted\": true,\n            \"documentsVerified\": true,\n            \"bankAccountVerified\": true,\n            \"termsAccepted\": true,\n            \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n            \"complianceNotes\": [\n              \"\"\n            ],\n            \"liveModeReady\": true,\n            \"currency\": \"\",\n            \"timezone\": \"\",\n            \"language\": \"\",\n            \"code\": \"\",\n            \"currentMode\": \"\",\n            \"liveKey\": \"\",\n            \"testKey\": \"\",\n            \"liveWhitelistedDomains\": [\n              \"\"\n            ],\n            \"testWhitelistedDomains\": [\n              \"\"\n            ],\n            \"status\": true,\n            \"createdBy\": \"\",\n            \"user\": {\n              \"$ref\": \"...\"\n            }\n          }\n        }\n      }\n    }\n  }\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {},
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "Return void."
                  }
                }
              }
            }
          }
        },
        "operationId": "createUser",
        "parameters": []
      }
    },
    "/v1/internal/test/update/tenant/collection.do": {
      "post": {
        "summary": "updateTenantProfile",
        "deprecated": false,
        "description": "",
        "tags": [
          "TestAppController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/b5e208b06b303dc733193f7c04d7d684"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"userId\": \"\",\n  \"email\": \"\",\n  \"password\": \"\",\n  \"roleId\": \"\",\n  \"tenantId\": \"\",\n  \"tenantName\": \"\",\n  \"code\": \"\",\n  \"liveKey\": \"\",\n  \"testKey\": \"\",\n  \"createdBy\": \"\",\n  \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n  \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\",\n  \"user\": {\n    \"createdAt\": \"2026-03-16 19:37:13\",\n    \"updatedAt\": \"2026-03-16 19:37:13\",\n    \"id\": \"\",\n    \"email\": \"\",\n    \"tenantId\": \"\",\n    \"password\": \"\",\n    \"fullName\": \"\",\n    \"dateOfBirth\": \"\",\n    \"phoneNumber\": \"\",\n    \"nationality\": \"\",\n    \"idType\": \"\",\n    \"idNumber\": \"\",\n    \"idDocumentUrl\": \"\",\n    \"profileUrl\": \"\",\n    \"status\": \"\",\n    \"address\": \"\",\n    \"version\": 0,\n    \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"role\": {\n      \"createdAt\": \"2026-03-16 19:37:13\",\n      \"updatedAt\": \"2026-03-16 19:37:13\",\n      \"id\": \"\",\n      \"name\": \"\",\n      \"status\": true,\n      \"slug\": \"\",\n      \"permissions\": [\n        {\n          \"createdAt\": \"2026-03-16 19:37:13\",\n          \"updatedAt\": \"2026-03-16 19:37:13\",\n          \"id\": \"\",\n          \"name\": \"\",\n          \"status\": true,\n          \"slug\": \"\"\n        }\n      ]\n    },\n    \"tenant\": {\n      \"createdAt\": \"2026-03-16 19:37:13\",\n      \"updatedAt\": \"2026-03-16 19:37:13\",\n      \"id\": \"\",\n      \"businessTradingName\": \"\",\n      \"legalBusinessName\": \"\",\n      \"name\": \"\",\n      \"businessType\": \"\",\n      \"businessRegistrationNumber\": \"\",\n      \"businessCountry\": \"\",\n      \"businessCity\": \"\",\n      \"businessAddress\": \"\",\n      \"paystackSubaccountCode\": \"\",\n      \"accountName\": \"\",\n      \"accountNumber\": \"\",\n      \"bankName\": \"\",\n      \"businessStorefrontUrl\": \"\",\n      \"businessDescription\": \"\",\n      \"industry\": \"\",\n      \"businessTaxIdNumber\": \"\",\n      \"businessExpectedMonthlyIncome\": \"\",\n      \"staffSize\": 0,\n      \"businessPrimaryPhoneNumber\": \"\",\n      \"businessSecondaryPhoneNumber\": \"\",\n      \"businessSupportEmailAddress\": \"\",\n      \"businessGeneralEmailAddress\": \"\",\n      \"kybCompleted\": true,\n      \"profileDetailFilled\": true,\n      \"contactDetailFilled\": true,\n      \"kycCompleted\": true,\n      \"documentsVerified\": true,\n      \"bankAccountVerified\": true,\n      \"termsAccepted\": true,\n      \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n      \"complianceNotes\": [\n        \"\"\n      ],\n      \"liveModeReady\": true,\n      \"currency\": \"\",\n      \"timezone\": \"\",\n      \"language\": \"\",\n      \"code\": \"\",\n      \"currentMode\": \"\",\n      \"liveKey\": \"\",\n      \"testKey\": \"\",\n      \"liveWhitelistedDomains\": [\n        \"\"\n      ],\n      \"testWhitelistedDomains\": [\n        \"\"\n      ],\n      \"status\": true,\n      \"createdBy\": \"\",\n      \"user\": {\n        \"createdAt\": \"2026-03-16 19:37:13\",\n        \"updatedAt\": \"2026-03-16 19:37:13\",\n        \"id\": \"\",\n        \"email\": \"\",\n        \"tenantId\": \"\",\n        \"password\": \"\",\n        \"fullName\": \"\",\n        \"dateOfBirth\": \"\",\n        \"phoneNumber\": \"\",\n        \"nationality\": \"\",\n        \"idType\": \"\",\n        \"idNumber\": \"\",\n        \"idDocumentUrl\": \"\",\n        \"profileUrl\": \"\",\n        \"status\": \"\",\n        \"address\": \"\",\n        \"version\": 0,\n        \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n        \"role\": {\n          \"createdAt\": \"2026-03-16 19:37:13\",\n          \"updatedAt\": \"2026-03-16 19:37:13\",\n          \"id\": \"\",\n          \"name\": \"\",\n          \"status\": true,\n          \"slug\": \"\",\n          \"permissions\": [\n            {\n              \"createdAt\": \"2026-03-16 19:37:13\",\n              \"updatedAt\": \"2026-03-16 19:37:13\",\n              \"id\": \"\",\n              \"name\": \"\",\n              \"status\": true,\n              \"slug\": \"\"\n            }\n          ]\n        },\n        \"tenant\": {\n          \"createdAt\": \"2026-03-16 19:37:13\",\n          \"updatedAt\": \"2026-03-16 19:37:13\",\n          \"id\": \"\",\n          \"businessTradingName\": \"\",\n          \"legalBusinessName\": \"\",\n          \"name\": \"\",\n          \"businessType\": \"\",\n          \"businessRegistrationNumber\": \"\",\n          \"businessCountry\": \"\",\n          \"businessCity\": \"\",\n          \"businessAddress\": \"\",\n          \"paystackSubaccountCode\": \"\",\n          \"accountName\": \"\",\n          \"accountNumber\": \"\",\n          \"bankName\": \"\",\n          \"businessStorefrontUrl\": \"\",\n          \"businessDescription\": \"\",\n          \"industry\": \"\",\n          \"businessTaxIdNumber\": \"\",\n          \"businessExpectedMonthlyIncome\": \"\",\n          \"staffSize\": 0,\n          \"businessPrimaryPhoneNumber\": \"\",\n          \"businessSecondaryPhoneNumber\": \"\",\n          \"businessSupportEmailAddress\": \"\",\n          \"businessGeneralEmailAddress\": \"\",\n          \"kybCompleted\": true,\n          \"profileDetailFilled\": true,\n          \"contactDetailFilled\": true,\n          \"kycCompleted\": true,\n          \"documentsVerified\": true,\n          \"bankAccountVerified\": true,\n          \"termsAccepted\": true,\n          \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n          \"complianceNotes\": [\n            \"\"\n          ],\n          \"liveModeReady\": true,\n          \"currency\": \"\",\n          \"timezone\": \"\",\n          \"language\": \"\",\n          \"code\": \"\",\n          \"currentMode\": \"\",\n          \"liveKey\": \"\",\n          \"testKey\": \"\",\n          \"liveWhitelistedDomains\": [\n            \"\"\n          ],\n          \"testWhitelistedDomains\": [\n            \"\"\n          ],\n          \"status\": true,\n          \"createdBy\": \"\",\n          \"user\": {\n            \"createdAt\": \"2026-03-16 19:37:13\",\n            \"updatedAt\": \"2026-03-16 19:37:13\",\n            \"id\": \"\",\n            \"email\": \"\",\n            \"tenantId\": \"\",\n            \"password\": \"\",\n            \"fullName\": \"\",\n            \"dateOfBirth\": \"\",\n            \"phoneNumber\": \"\",\n            \"nationality\": \"\",\n            \"idType\": \"\",\n            \"idNumber\": \"\",\n            \"idDocumentUrl\": \"\",\n            \"profileUrl\": \"\",\n            \"status\": \"\",\n            \"address\": \"\",\n            \"version\": 0,\n            \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n            \"role\": {\n              \"$ref\": \"...\"\n            },\n            \"tenant\": {\n              \"$ref\": \"...\"\n            }\n          }\n        }\n      }\n    }\n  },\n  \"tenant\": {\n    \"createdAt\": \"2026-03-16 19:37:13\",\n    \"updatedAt\": \"2026-03-16 19:37:13\",\n    \"id\": \"\",\n    \"businessTradingName\": \"\",\n    \"legalBusinessName\": \"\",\n    \"name\": \"\",\n    \"businessType\": \"\",\n    \"businessRegistrationNumber\": \"\",\n    \"businessCountry\": \"\",\n    \"businessCity\": \"\",\n    \"businessAddress\": \"\",\n    \"paystackSubaccountCode\": \"\",\n    \"accountName\": \"\",\n    \"accountNumber\": \"\",\n    \"bankName\": \"\",\n    \"businessStorefrontUrl\": \"\",\n    \"businessDescription\": \"\",\n    \"industry\": \"\",\n    \"businessTaxIdNumber\": \"\",\n    \"businessExpectedMonthlyIncome\": \"\",\n    \"staffSize\": 0,\n    \"businessPrimaryPhoneNumber\": \"\",\n    \"businessSecondaryPhoneNumber\": \"\",\n    \"businessSupportEmailAddress\": \"\",\n    \"businessGeneralEmailAddress\": \"\",\n    \"kybCompleted\": true,\n    \"profileDetailFilled\": true,\n    \"contactDetailFilled\": true,\n    \"kycCompleted\": true,\n    \"documentsVerified\": true,\n    \"bankAccountVerified\": true,\n    \"termsAccepted\": true,\n    \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"complianceNotes\": [\n      \"\"\n    ],\n    \"liveModeReady\": true,\n    \"currency\": \"\",\n    \"timezone\": \"\",\n    \"language\": \"\",\n    \"code\": \"\",\n    \"currentMode\": \"\",\n    \"liveKey\": \"\",\n    \"testKey\": \"\",\n    \"liveWhitelistedDomains\": [\n      \"\"\n    ],\n    \"testWhitelistedDomains\": [\n      \"\"\n    ],\n    \"status\": true,\n    \"createdBy\": \"\",\n    \"user\": {\n      \"createdAt\": \"2026-03-16 19:37:13\",\n      \"updatedAt\": \"2026-03-16 19:37:13\",\n      \"id\": \"\",\n      \"email\": \"\",\n      \"tenantId\": \"\",\n      \"password\": \"\",\n      \"fullName\": \"\",\n      \"dateOfBirth\": \"\",\n      \"phoneNumber\": \"\",\n      \"nationality\": \"\",\n      \"idType\": \"\",\n      \"idNumber\": \"\",\n      \"idDocumentUrl\": \"\",\n      \"profileUrl\": \"\",\n      \"status\": \"\",\n      \"address\": \"\",\n      \"version\": 0,\n      \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n      \"role\": {\n        \"createdAt\": \"2026-03-16 19:37:13\",\n        \"updatedAt\": \"2026-03-16 19:37:13\",\n        \"id\": \"\",\n        \"name\": \"\",\n        \"status\": true,\n        \"slug\": \"\",\n        \"permissions\": [\n          {\n            \"createdAt\": \"2026-03-16 19:37:13\",\n            \"updatedAt\": \"2026-03-16 19:37:13\",\n            \"id\": \"\",\n            \"name\": \"\",\n            \"status\": true,\n            \"slug\": \"\"\n          }\n        ]\n      },\n      \"tenant\": {\n        \"createdAt\": \"2026-03-16 19:37:13\",\n        \"updatedAt\": \"2026-03-16 19:37:13\",\n        \"id\": \"\",\n        \"businessTradingName\": \"\",\n        \"legalBusinessName\": \"\",\n        \"name\": \"\",\n        \"businessType\": \"\",\n        \"businessRegistrationNumber\": \"\",\n        \"businessCountry\": \"\",\n        \"businessCity\": \"\",\n        \"businessAddress\": \"\",\n        \"paystackSubaccountCode\": \"\",\n        \"accountName\": \"\",\n        \"accountNumber\": \"\",\n        \"bankName\": \"\",\n        \"businessStorefrontUrl\": \"\",\n        \"businessDescription\": \"\",\n        \"industry\": \"\",\n        \"businessTaxIdNumber\": \"\",\n        \"businessExpectedMonthlyIncome\": \"\",\n        \"staffSize\": 0,\n        \"businessPrimaryPhoneNumber\": \"\",\n        \"businessSecondaryPhoneNumber\": \"\",\n        \"businessSupportEmailAddress\": \"\",\n        \"businessGeneralEmailAddress\": \"\",\n        \"kybCompleted\": true,\n        \"profileDetailFilled\": true,\n        \"contactDetailFilled\": true,\n        \"kycCompleted\": true,\n        \"documentsVerified\": true,\n        \"bankAccountVerified\": true,\n        \"termsAccepted\": true,\n        \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n        \"complianceNotes\": [\n          \"\"\n        ],\n        \"liveModeReady\": true,\n        \"currency\": \"\",\n        \"timezone\": \"\",\n        \"language\": \"\",\n        \"code\": \"\",\n        \"currentMode\": \"\",\n        \"liveKey\": \"\",\n        \"testKey\": \"\",\n        \"liveWhitelistedDomains\": [\n          \"\"\n        ],\n        \"testWhitelistedDomains\": [\n          \"\"\n        ],\n        \"status\": true,\n        \"createdBy\": \"\",\n        \"user\": {\n          \"createdAt\": \"2026-03-16 19:37:13\",\n          \"updatedAt\": \"2026-03-16 19:37:13\",\n          \"id\": \"\",\n          \"email\": \"\",\n          \"tenantId\": \"\",\n          \"password\": \"\",\n          \"fullName\": \"\",\n          \"dateOfBirth\": \"\",\n          \"phoneNumber\": \"\",\n          \"nationality\": \"\",\n          \"idType\": \"\",\n          \"idNumber\": \"\",\n          \"idDocumentUrl\": \"\",\n          \"profileUrl\": \"\",\n          \"status\": \"\",\n          \"address\": \"\",\n          \"version\": 0,\n          \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n          \"role\": {\n            \"createdAt\": \"2026-03-16 19:37:13\",\n            \"updatedAt\": \"2026-03-16 19:37:13\",\n            \"id\": \"\",\n            \"name\": \"\",\n            \"status\": true,\n            \"slug\": \"\",\n            \"permissions\": [\n              {\n                \"$ref\": \"...\"\n              }\n            ]\n          },\n          \"tenant\": {\n            \"createdAt\": \"2026-03-16 19:37:13\",\n            \"updatedAt\": \"2026-03-16 19:37:13\",\n            \"id\": \"\",\n            \"businessTradingName\": \"\",\n            \"legalBusinessName\": \"\",\n            \"name\": \"\",\n            \"businessType\": \"\",\n            \"businessRegistrationNumber\": \"\",\n            \"businessCountry\": \"\",\n            \"businessCity\": \"\",\n            \"businessAddress\": \"\",\n            \"paystackSubaccountCode\": \"\",\n            \"accountName\": \"\",\n            \"accountNumber\": \"\",\n            \"bankName\": \"\",\n            \"businessStorefrontUrl\": \"\",\n            \"businessDescription\": \"\",\n            \"industry\": \"\",\n            \"businessTaxIdNumber\": \"\",\n            \"businessExpectedMonthlyIncome\": \"\",\n            \"staffSize\": 0,\n            \"businessPrimaryPhoneNumber\": \"\",\n            \"businessSecondaryPhoneNumber\": \"\",\n            \"businessSupportEmailAddress\": \"\",\n            \"businessGeneralEmailAddress\": \"\",\n            \"kybCompleted\": true,\n            \"profileDetailFilled\": true,\n            \"contactDetailFilled\": true,\n            \"kycCompleted\": true,\n            \"documentsVerified\": true,\n            \"bankAccountVerified\": true,\n            \"termsAccepted\": true,\n            \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n            \"complianceNotes\": [\n              \"\"\n            ],\n            \"liveModeReady\": true,\n            \"currency\": \"\",\n            \"timezone\": \"\",\n            \"language\": \"\",\n            \"code\": \"\",\n            \"currentMode\": \"\",\n            \"liveKey\": \"\",\n            \"testKey\": \"\",\n            \"liveWhitelistedDomains\": [\n              \"\"\n            ],\n            \"testWhitelistedDomains\": [\n              \"\"\n            ],\n            \"status\": true,\n            \"createdBy\": \"\",\n            \"user\": {\n              \"$ref\": \"...\"\n            }\n          }\n        }\n      }\n    }\n  }\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {},
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "Return void."
                  }
                }
              }
            }
          }
        },
        "operationId": "updateTenantProfile",
        "parameters": []
      }
    },
    "/v1/internal/test/update/user/collection.do": {
      "post": {
        "summary": "updateUser",
        "deprecated": false,
        "description": "",
        "tags": [
          "TestAppController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/b5e208b06b303dc733193f7c04d7d684"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"userId\": \"\",\n  \"email\": \"\",\n  \"password\": \"\",\n  \"roleId\": \"\",\n  \"tenantId\": \"\",\n  \"tenantName\": \"\",\n  \"code\": \"\",\n  \"liveKey\": \"\",\n  \"testKey\": \"\",\n  \"createdBy\": \"\",\n  \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n  \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\",\n  \"user\": {\n    \"createdAt\": \"2026-03-16 19:37:13\",\n    \"updatedAt\": \"2026-03-16 19:37:13\",\n    \"id\": \"\",\n    \"email\": \"\",\n    \"tenantId\": \"\",\n    \"password\": \"\",\n    \"fullName\": \"\",\n    \"dateOfBirth\": \"\",\n    \"phoneNumber\": \"\",\n    \"nationality\": \"\",\n    \"idType\": \"\",\n    \"idNumber\": \"\",\n    \"idDocumentUrl\": \"\",\n    \"profileUrl\": \"\",\n    \"status\": \"\",\n    \"address\": \"\",\n    \"version\": 0,\n    \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"role\": {\n      \"createdAt\": \"2026-03-16 19:37:13\",\n      \"updatedAt\": \"2026-03-16 19:37:13\",\n      \"id\": \"\",\n      \"name\": \"\",\n      \"status\": true,\n      \"slug\": \"\",\n      \"permissions\": [\n        {\n          \"createdAt\": \"2026-03-16 19:37:13\",\n          \"updatedAt\": \"2026-03-16 19:37:13\",\n          \"id\": \"\",\n          \"name\": \"\",\n          \"status\": true,\n          \"slug\": \"\"\n        }\n      ]\n    },\n    \"tenant\": {\n      \"createdAt\": \"2026-03-16 19:37:13\",\n      \"updatedAt\": \"2026-03-16 19:37:13\",\n      \"id\": \"\",\n      \"businessTradingName\": \"\",\n      \"legalBusinessName\": \"\",\n      \"name\": \"\",\n      \"businessType\": \"\",\n      \"businessRegistrationNumber\": \"\",\n      \"businessCountry\": \"\",\n      \"businessCity\": \"\",\n      \"businessAddress\": \"\",\n      \"paystackSubaccountCode\": \"\",\n      \"accountName\": \"\",\n      \"accountNumber\": \"\",\n      \"bankName\": \"\",\n      \"businessStorefrontUrl\": \"\",\n      \"businessDescription\": \"\",\n      \"industry\": \"\",\n      \"businessTaxIdNumber\": \"\",\n      \"businessExpectedMonthlyIncome\": \"\",\n      \"staffSize\": 0,\n      \"businessPrimaryPhoneNumber\": \"\",\n      \"businessSecondaryPhoneNumber\": \"\",\n      \"businessSupportEmailAddress\": \"\",\n      \"businessGeneralEmailAddress\": \"\",\n      \"kybCompleted\": true,\n      \"profileDetailFilled\": true,\n      \"contactDetailFilled\": true,\n      \"kycCompleted\": true,\n      \"documentsVerified\": true,\n      \"bankAccountVerified\": true,\n      \"termsAccepted\": true,\n      \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n      \"complianceNotes\": [\n        \"\"\n      ],\n      \"liveModeReady\": true,\n      \"currency\": \"\",\n      \"timezone\": \"\",\n      \"language\": \"\",\n      \"code\": \"\",\n      \"currentMode\": \"\",\n      \"liveKey\": \"\",\n      \"testKey\": \"\",\n      \"liveWhitelistedDomains\": [\n        \"\"\n      ],\n      \"testWhitelistedDomains\": [\n        \"\"\n      ],\n      \"status\": true,\n      \"createdBy\": \"\",\n      \"user\": {\n        \"createdAt\": \"2026-03-16 19:37:13\",\n        \"updatedAt\": \"2026-03-16 19:37:13\",\n        \"id\": \"\",\n        \"email\": \"\",\n        \"tenantId\": \"\",\n        \"password\": \"\",\n        \"fullName\": \"\",\n        \"dateOfBirth\": \"\",\n        \"phoneNumber\": \"\",\n        \"nationality\": \"\",\n        \"idType\": \"\",\n        \"idNumber\": \"\",\n        \"idDocumentUrl\": \"\",\n        \"profileUrl\": \"\",\n        \"status\": \"\",\n        \"address\": \"\",\n        \"version\": 0,\n        \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n        \"role\": {\n          \"createdAt\": \"2026-03-16 19:37:13\",\n          \"updatedAt\": \"2026-03-16 19:37:13\",\n          \"id\": \"\",\n          \"name\": \"\",\n          \"status\": true,\n          \"slug\": \"\",\n          \"permissions\": [\n            {\n              \"createdAt\": \"2026-03-16 19:37:13\",\n              \"updatedAt\": \"2026-03-16 19:37:13\",\n              \"id\": \"\",\n              \"name\": \"\",\n              \"status\": true,\n              \"slug\": \"\"\n            }\n          ]\n        },\n        \"tenant\": {\n          \"createdAt\": \"2026-03-16 19:37:13\",\n          \"updatedAt\": \"2026-03-16 19:37:13\",\n          \"id\": \"\",\n          \"businessTradingName\": \"\",\n          \"legalBusinessName\": \"\",\n          \"name\": \"\",\n          \"businessType\": \"\",\n          \"businessRegistrationNumber\": \"\",\n          \"businessCountry\": \"\",\n          \"businessCity\": \"\",\n          \"businessAddress\": \"\",\n          \"paystackSubaccountCode\": \"\",\n          \"accountName\": \"\",\n          \"accountNumber\": \"\",\n          \"bankName\": \"\",\n          \"businessStorefrontUrl\": \"\",\n          \"businessDescription\": \"\",\n          \"industry\": \"\",\n          \"businessTaxIdNumber\": \"\",\n          \"businessExpectedMonthlyIncome\": \"\",\n          \"staffSize\": 0,\n          \"businessPrimaryPhoneNumber\": \"\",\n          \"businessSecondaryPhoneNumber\": \"\",\n          \"businessSupportEmailAddress\": \"\",\n          \"businessGeneralEmailAddress\": \"\",\n          \"kybCompleted\": true,\n          \"profileDetailFilled\": true,\n          \"contactDetailFilled\": true,\n          \"kycCompleted\": true,\n          \"documentsVerified\": true,\n          \"bankAccountVerified\": true,\n          \"termsAccepted\": true,\n          \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n          \"complianceNotes\": [\n            \"\"\n          ],\n          \"liveModeReady\": true,\n          \"currency\": \"\",\n          \"timezone\": \"\",\n          \"language\": \"\",\n          \"code\": \"\",\n          \"currentMode\": \"\",\n          \"liveKey\": \"\",\n          \"testKey\": \"\",\n          \"liveWhitelistedDomains\": [\n            \"\"\n          ],\n          \"testWhitelistedDomains\": [\n            \"\"\n          ],\n          \"status\": true,\n          \"createdBy\": \"\",\n          \"user\": {\n            \"createdAt\": \"2026-03-16 19:37:13\",\n            \"updatedAt\": \"2026-03-16 19:37:13\",\n            \"id\": \"\",\n            \"email\": \"\",\n            \"tenantId\": \"\",\n            \"password\": \"\",\n            \"fullName\": \"\",\n            \"dateOfBirth\": \"\",\n            \"phoneNumber\": \"\",\n            \"nationality\": \"\",\n            \"idType\": \"\",\n            \"idNumber\": \"\",\n            \"idDocumentUrl\": \"\",\n            \"profileUrl\": \"\",\n            \"status\": \"\",\n            \"address\": \"\",\n            \"version\": 0,\n            \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n            \"role\": {\n              \"$ref\": \"...\"\n            },\n            \"tenant\": {\n              \"$ref\": \"...\"\n            }\n          }\n        }\n      }\n    }\n  },\n  \"tenant\": {\n    \"createdAt\": \"2026-03-16 19:37:13\",\n    \"updatedAt\": \"2026-03-16 19:37:13\",\n    \"id\": \"\",\n    \"businessTradingName\": \"\",\n    \"legalBusinessName\": \"\",\n    \"name\": \"\",\n    \"businessType\": \"\",\n    \"businessRegistrationNumber\": \"\",\n    \"businessCountry\": \"\",\n    \"businessCity\": \"\",\n    \"businessAddress\": \"\",\n    \"paystackSubaccountCode\": \"\",\n    \"accountName\": \"\",\n    \"accountNumber\": \"\",\n    \"bankName\": \"\",\n    \"businessStorefrontUrl\": \"\",\n    \"businessDescription\": \"\",\n    \"industry\": \"\",\n    \"businessTaxIdNumber\": \"\",\n    \"businessExpectedMonthlyIncome\": \"\",\n    \"staffSize\": 0,\n    \"businessPrimaryPhoneNumber\": \"\",\n    \"businessSecondaryPhoneNumber\": \"\",\n    \"businessSupportEmailAddress\": \"\",\n    \"businessGeneralEmailAddress\": \"\",\n    \"kybCompleted\": true,\n    \"profileDetailFilled\": true,\n    \"contactDetailFilled\": true,\n    \"kycCompleted\": true,\n    \"documentsVerified\": true,\n    \"bankAccountVerified\": true,\n    \"termsAccepted\": true,\n    \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"complianceNotes\": [\n      \"\"\n    ],\n    \"liveModeReady\": true,\n    \"currency\": \"\",\n    \"timezone\": \"\",\n    \"language\": \"\",\n    \"code\": \"\",\n    \"currentMode\": \"\",\n    \"liveKey\": \"\",\n    \"testKey\": \"\",\n    \"liveWhitelistedDomains\": [\n      \"\"\n    ],\n    \"testWhitelistedDomains\": [\n      \"\"\n    ],\n    \"status\": true,\n    \"createdBy\": \"\",\n    \"user\": {\n      \"createdAt\": \"2026-03-16 19:37:13\",\n      \"updatedAt\": \"2026-03-16 19:37:13\",\n      \"id\": \"\",\n      \"email\": \"\",\n      \"tenantId\": \"\",\n      \"password\": \"\",\n      \"fullName\": \"\",\n      \"dateOfBirth\": \"\",\n      \"phoneNumber\": \"\",\n      \"nationality\": \"\",\n      \"idType\": \"\",\n      \"idNumber\": \"\",\n      \"idDocumentUrl\": \"\",\n      \"profileUrl\": \"\",\n      \"status\": \"\",\n      \"address\": \"\",\n      \"version\": 0,\n      \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n      \"role\": {\n        \"createdAt\": \"2026-03-16 19:37:13\",\n        \"updatedAt\": \"2026-03-16 19:37:13\",\n        \"id\": \"\",\n        \"name\": \"\",\n        \"status\": true,\n        \"slug\": \"\",\n        \"permissions\": [\n          {\n            \"createdAt\": \"2026-03-16 19:37:13\",\n            \"updatedAt\": \"2026-03-16 19:37:13\",\n            \"id\": \"\",\n            \"name\": \"\",\n            \"status\": true,\n            \"slug\": \"\"\n          }\n        ]\n      },\n      \"tenant\": {\n        \"createdAt\": \"2026-03-16 19:37:13\",\n        \"updatedAt\": \"2026-03-16 19:37:13\",\n        \"id\": \"\",\n        \"businessTradingName\": \"\",\n        \"legalBusinessName\": \"\",\n        \"name\": \"\",\n        \"businessType\": \"\",\n        \"businessRegistrationNumber\": \"\",\n        \"businessCountry\": \"\",\n        \"businessCity\": \"\",\n        \"businessAddress\": \"\",\n        \"paystackSubaccountCode\": \"\",\n        \"accountName\": \"\",\n        \"accountNumber\": \"\",\n        \"bankName\": \"\",\n        \"businessStorefrontUrl\": \"\",\n        \"businessDescription\": \"\",\n        \"industry\": \"\",\n        \"businessTaxIdNumber\": \"\",\n        \"businessExpectedMonthlyIncome\": \"\",\n        \"staffSize\": 0,\n        \"businessPrimaryPhoneNumber\": \"\",\n        \"businessSecondaryPhoneNumber\": \"\",\n        \"businessSupportEmailAddress\": \"\",\n        \"businessGeneralEmailAddress\": \"\",\n        \"kybCompleted\": true,\n        \"profileDetailFilled\": true,\n        \"contactDetailFilled\": true,\n        \"kycCompleted\": true,\n        \"documentsVerified\": true,\n        \"bankAccountVerified\": true,\n        \"termsAccepted\": true,\n        \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n        \"complianceNotes\": [\n          \"\"\n        ],\n        \"liveModeReady\": true,\n        \"currency\": \"\",\n        \"timezone\": \"\",\n        \"language\": \"\",\n        \"code\": \"\",\n        \"currentMode\": \"\",\n        \"liveKey\": \"\",\n        \"testKey\": \"\",\n        \"liveWhitelistedDomains\": [\n          \"\"\n        ],\n        \"testWhitelistedDomains\": [\n          \"\"\n        ],\n        \"status\": true,\n        \"createdBy\": \"\",\n        \"user\": {\n          \"createdAt\": \"2026-03-16 19:37:13\",\n          \"updatedAt\": \"2026-03-16 19:37:13\",\n          \"id\": \"\",\n          \"email\": \"\",\n          \"tenantId\": \"\",\n          \"password\": \"\",\n          \"fullName\": \"\",\n          \"dateOfBirth\": \"\",\n          \"phoneNumber\": \"\",\n          \"nationality\": \"\",\n          \"idType\": \"\",\n          \"idNumber\": \"\",\n          \"idDocumentUrl\": \"\",\n          \"profileUrl\": \"\",\n          \"status\": \"\",\n          \"address\": \"\",\n          \"version\": 0,\n          \"emailVerifiedAt\": \"yyyy-MM-dd HH:mm:ss\",\n          \"role\": {\n            \"createdAt\": \"2026-03-16 19:37:13\",\n            \"updatedAt\": \"2026-03-16 19:37:13\",\n            \"id\": \"\",\n            \"name\": \"\",\n            \"status\": true,\n            \"slug\": \"\",\n            \"permissions\": [\n              {\n                \"$ref\": \"...\"\n              }\n            ]\n          },\n          \"tenant\": {\n            \"createdAt\": \"2026-03-16 19:37:13\",\n            \"updatedAt\": \"2026-03-16 19:37:13\",\n            \"id\": \"\",\n            \"businessTradingName\": \"\",\n            \"legalBusinessName\": \"\",\n            \"name\": \"\",\n            \"businessType\": \"\",\n            \"businessRegistrationNumber\": \"\",\n            \"businessCountry\": \"\",\n            \"businessCity\": \"\",\n            \"businessAddress\": \"\",\n            \"paystackSubaccountCode\": \"\",\n            \"accountName\": \"\",\n            \"accountNumber\": \"\",\n            \"bankName\": \"\",\n            \"businessStorefrontUrl\": \"\",\n            \"businessDescription\": \"\",\n            \"industry\": \"\",\n            \"businessTaxIdNumber\": \"\",\n            \"businessExpectedMonthlyIncome\": \"\",\n            \"staffSize\": 0,\n            \"businessPrimaryPhoneNumber\": \"\",\n            \"businessSecondaryPhoneNumber\": \"\",\n            \"businessSupportEmailAddress\": \"\",\n            \"businessGeneralEmailAddress\": \"\",\n            \"kybCompleted\": true,\n            \"profileDetailFilled\": true,\n            \"contactDetailFilled\": true,\n            \"kycCompleted\": true,\n            \"documentsVerified\": true,\n            \"bankAccountVerified\": true,\n            \"termsAccepted\": true,\n            \"movedToLiveModeAt\": \"yyyy-MM-dd HH:mm:ss\",\n            \"complianceNotes\": [\n              \"\"\n            ],\n            \"liveModeReady\": true,\n            \"currency\": \"\",\n            \"timezone\": \"\",\n            \"language\": \"\",\n            \"code\": \"\",\n            \"currentMode\": \"\",\n            \"liveKey\": \"\",\n            \"testKey\": \"\",\n            \"liveWhitelistedDomains\": [\n              \"\"\n            ],\n            \"testWhitelistedDomains\": [\n              \"\"\n            ],\n            \"status\": true,\n            \"createdBy\": \"\",\n            \"user\": {\n              \"$ref\": \"...\"\n            }\n          }\n        }\n      }\n    }\n  }\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {},
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "Return void."
                  }
                }
              }
            }
          }
        },
        "operationId": "updateUser",
        "parameters": []
      }
    },
    "/v1/internal/test/update/payment-secret.do": {
      "post": {
        "summary": "updatePaymentSecret",
        "deprecated": false,
        "description": "",
        "tags": [
          "TestAppController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/755b8eea1af2650875270d8b5e7fc11e"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"paymentSecret\": {\n    \"createdAt\": \"2026-03-16 19:37:13\",\n    \"updatedAt\": \"2026-03-16 19:37:13\",\n    \"id\": \"\",\n    \"tenantId\": \"\",\n    \"paymentGateway\": \"PAYSTACK\",\n    \"liveEncryptedSecret\": \"\",\n    \"testEncryptedSecret\": \"\"\n  }\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {},
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "Return void."
                  }
                }
              }
            }
          }
        },
        "operationId": "updatePaymentSecret",
        "parameters": []
      }
    },
    "/v1/auth/phone/initiate.do": {
      "post": {
        "summary": "Initiate OTP\nA One Time Password is sent to user whatsapp number to verify their identity",
        "deprecated": false,
        "tags": [
          "WhatsAppAuthController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2e7944ae7df422d3342c791df4b6f1c8"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"phoneNumber\": \"\",\n  \"businessName\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/415f640f1beca86b33515c5b5ee24b47"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\"\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "initiateOTP",
        "parameters": []
      }
    },
    "/v1/auth/phone/verify.do": {
      "post": {
        "summary": "Verify OTP",
        "deprecated": false,
        "tags": [
          "WhatsAppAuthController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/14d0bb71ad1e63e835f05907705dfec5"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"phoneNumber\": \"\",\n  \"code\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/188b9bb9d0104823c882180f1008fd51"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"user\": {\n      \"id\": \"\",\n      \"email\": \"\",\n      \"fullName\": \"\",\n      \"phoneNumber\": \"\",\n      \"address\": \"\",\n      \"createdAt\": \"yyyy-MM-dd HH:mm:ss\"\n    },\n    \"token\": \"\",\n    \"expiresIn\": 0\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "verifyOTP",
        "parameters": []
      }
    },
    "/v1/payment-gateway/verify-account-number.do": {
      "post": {
        "summary": "Resolve Account Number\nIn test mode use: <br/>\n{\n    \"accountNumber\": \"8131974410\",\n    \"bankCode\": \"001\",\n    \"gateway\": \"PAYSTACK\"\n}",
        "deprecated": false,
        "tags": [
          "PaymentGatewayController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/4be5679555325145a30de2d7b93e1021"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"accountNumber\": \"\",\n  \"bankCode\": \"\",\n  \"gateway\": \"PAYSTACK\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/5350ef9f02c1859da36f94c283219071"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {}\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "resolveAccountDetail",
        "parameters": []
      }
    },
    "/v1/promo-ads.do": {
      "post": {
        "summary": "Create Promo Ad\nThis API creates a new promotional ad.",
        "deprecated": false,
        "tags": [
          "PromoAdController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5a3e406f41aa365c3be8651445ecc40e"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"adName\": \"\",\n  \"images\": [\n    \"\"\n  ],\n  \"ctaText\": \"\",\n  \"promoCode\": \"\",\n  \"buttons\": [\n    {\n      \"type\": \"\",\n      \"position\": \"\",\n      \"color\": \"\",\n      \"textColor\": \"\",\n      \"text\": \"\",\n      \"link\": \"\",\n      \"metadata\": {}\n    }\n  ],\n  \"status\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/b1eb60f313f3b12d34b62dde8aa325eb"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-03-16 19:37:06\",\n    \"updatedAt\": \"2026-03-16 19:37:06\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "createAd",
        "parameters": []
      },
      "get": {
        "summary": "Fetch Promo Ads.\nThis API retrieves a list of promotional ads filtered by status and paginated using a cursor.\nThe response includes promotional ads in either DRAFT or PUBLISHED status.",
        "deprecated": false,
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/3b90da57253e8e2bf76f832c1f22d929"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"data\": [\n      {\n        \"id\": \"\",\n        \"adName\": \"\",\n        \"images\": [\n          \"\"\n        ],\n        \"ctaText\": \"\",\n        \"promoCode\": \"\",\n        \"buttons\": [\n          {\n            \"type\": \"\",\n            \"position\": \"\",\n            \"color\": \"\",\n            \"textColor\": \"\",\n            \"text\": \"\",\n            \"link\": \"\",\n            \"metadata\": {}\n          }\n        ],\n        \"status\": \"\",\n        \"metadata\": {},\n        \"createdAt\": \"2026-03-16 19:37:06\",\n        \"updatedAt\": \"2026-03-16 19:37:06\"\n      }\n    ],\n    \"nextCursor\": \"yyyy-MM-dd HH:mm:ss\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAllAds",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "cursor"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 10,
            "name": "limit"
          }
        ]
      }
    },
    "/v1/promo-ads/{id}.do": {
      "patch": {
        "summary": "Update Promo Ad\nThis API updates a specific promotional ad by its ID.",
        "deprecated": false,
        "tags": [
          "PromoAdController"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5a3e406f41aa365c3be8651445ecc40e"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"adName\": \"\",\n  \"images\": [\n    \"\"\n  ],\n  \"ctaText\": \"\",\n  \"promoCode\": \"\",\n  \"buttons\": [\n    {\n      \"type\": \"\",\n      \"position\": \"\",\n      \"color\": \"\",\n      \"textColor\": \"\",\n      \"text\": \"\",\n      \"link\": \"\",\n      \"metadata\": {}\n    }\n  ],\n  \"status\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/b1eb60f313f3b12d34b62dde8aa325eb"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-03-16 19:37:06\",\n    \"updatedAt\": \"2026-03-16 19:37:06\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "updateAd",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          }
        ]
      },
      "get": {
        "summary": "Get Promo Ad by ID\nThis API retrieves a specific promotional ad by its ID.",
        "deprecated": false,
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/b1eb60f313f3b12d34b62dde8aa325eb"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-03-16 19:37:06\",\n    \"updatedAt\": \"2026-03-16 19:37:06\"\n  },\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAdById",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          }
        ]
      },
      "delete": {
        "summary": "Delete Promo Ad.\nThis API deletes a specific promotional ad.",
        "deprecated": false,
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/d3ee64b917a373d07487cc531a9a7577"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "deleteAd",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          }
        ]
      }
    },
    "/v1/promo-ads/published.do": {
      "get": {
        "summary": "Fetch Published Promo Ads.\nThis API retrieves a list of published promotional ads.\nThe response includes promotional ads in PUBLISHED status.",
        "deprecated": false,
        "tags": [
          "PromoAdController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/b6e62862c971501aec9763242e11c5fe"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"adName\": \"\",\n      \"images\": [\n        \"\"\n      ],\n      \"ctaText\": \"\",\n      \"promoCode\": \"\",\n      \"buttons\": [\n        {\n          \"type\": \"\",\n          \"position\": \"\",\n          \"color\": \"\",\n          \"textColor\": \"\",\n          \"text\": \"\",\n          \"link\": \"\",\n          \"metadata\": {}\n        }\n      ],\n      \"status\": \"\",\n      \"metadata\": {},\n      \"createdAt\": \"2026-03-16 19:37:06\",\n      \"updatedAt\": \"2026-03-16 19:37:06\"\n    }\n  ],\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAllPublishedAds",
        "parameters": [
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 3,
            "name": "limit"
          }
        ]
      }
    },
    "/v1/promo-ads/update/{id}/status/{status}.do": {
      "patch": {
        "summary": "Update Promo Ad Status.\nThis API updates the status of a specific promotional ad.\nThe response includes promotional ads in PUBLISHED status.",
        "deprecated": false,
        "tags": [
          "PromoAdController"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {},
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "curl -X PATCH -k -i 'https://api.shopsynch.com/v1/promo-ads/update/{id}/status/{status}.do'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/d3ee64b917a373d07487cc531a9a7577"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "changeAdsStatus",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "status"
          }
        ]
      }
    },
    "/v1/customer-orders.do": {
      "get": {
        "summary": "Fetch Customer Orders.\nThis API retrieves a list of orders for the authenticated customer.\nThe response includes orders in PUBLISHED status.",
        "deprecated": false,
        "tags": [
          "CustomerOrderController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/45b226a2ed6fb6d7df5f93fc04946382"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getCustomerOrders",
        "parameters": [
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 0,
            "name": "page"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 100,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "CREATED_AT",
            "name": "sortField"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "DESC",
            "name": "sortDir"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Search by order number (exact match) - This is a separate field to allow for precise filtering by order number, while the 'search' field can be used for more general text search across multiple fields (like order number and customer name).",
            "required": false,
            "name": "orderNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "General search text for order number or customer name - This field allows for a broader search that can match either the order number or the customer's name, providing more flexibility in filtering orders based on user input.",
            "required": false,
            "name": "search"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by order status",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by payment status",
            "required": false,
            "name": "paymentStatus"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range start",
            "required": false,
            "name": "dateFrom"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range end",
            "required": false,
            "name": "dateTo"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by minimum amount",
            "required": false,
            "example": 0.0,
            "name": "minAmount"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by maximum amount",
            "required": false,
            "example": 0.0,
            "name": "maxAmount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by customer ID",
            "required": false,
            "name": "customerId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by product ID (orders that contain a specific product)",
            "required": false,
            "name": "productId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Authenticated customer ID (internal use)",
            "required": false,
            "name": "authCustomer"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-16 19:37:09\"",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-16 19:37:09\"",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "credentialsNonExpired"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "password"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "addresses"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenant"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleResource"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "role"
          }
        ]
      }
    },
    "/v1/customer-orders/{customerId}.do": {
      "get": {
        "summary": "Fetch Customer Orders.\nThis API retrieves a list of orders for a specific customer.",
        "deprecated": false,
        "tags": [
          "CustomerOrderController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/45b226a2ed6fb6d7df5f93fc04946382"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "fetchCustomerOrders",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "customerId"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 0,
            "name": "page"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": 100,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "ORDER_DATE",
            "name": "sortFieldParam"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": true,
            "example": "DESC",
            "name": "sortDirectionParam"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Search by order number (exact match) - This is a separate field to allow for precise filtering by order number, while the 'search' field can be used for more general text search across multiple fields (like order number and customer name).",
            "required": false,
            "name": "orderNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "General search text for order number or customer name - This field allows for a broader search that can match either the order number or the customer's name, providing more flexibility in filtering orders based on user input.",
            "required": false,
            "name": "search"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by order status",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by payment status",
            "required": false,
            "name": "paymentStatus"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range start",
            "required": false,
            "name": "dateFrom"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range end",
            "required": false,
            "name": "dateTo"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by minimum amount",
            "required": false,
            "example": 0.0,
            "name": "minAmount"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by maximum amount",
            "required": false,
            "example": 0.0,
            "name": "maxAmount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by customer ID",
            "required": false,
            "name": "customerId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by product ID (orders that contain a specific product)",
            "required": false,
            "name": "productId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Authenticated customer ID (internal use)",
            "required": false,
            "name": "authCustomer"
          }
        ]
      }
    },
    "/v1/customer-orders/{orderId}/items.do": {
      "get": {
        "summary": "Fetch Order Items.\nThis API retrieves a list of items in a specific order.",
        "deprecated": false,
        "tags": [
          "CustomerOrderController"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/9268f34936dc900715ee9960b012b5eb"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"orderId\": \"\",\n      \"quantity\": 0,\n      \"price\": 0.0,\n      \"totalPrice\": 0.0,\n      \"productId\": \"\",\n      \"variationId\": \"\",\n      \"variationPriceDetailId\": \"\",\n      \"product\": {\n        \"id\": \"\",\n        \"name\": \"\",\n        \"slug\": \"\",\n        \"description\": \"\",\n        \"image\": \"\",\n        \"thumbnail\": \"\",\n        \"imageList\": [\n          \"\"\n        ],\n        \"price\": 0.0,\n        \"newPrice\": 0.0,\n        \"ramSize\": \"\",\n        \"Storage\": \"\",\n        \"size\": \"\",\n        \"sku\": \"\",\n        \"quantityInStock\": 0,\n        \"brand\": \"\",\n        \"discount\": 0.0,\n        \"category\": \"\",\n        \"color\": \"\",\n        \"rating\": 0,\n        \"features\": [\n          \"\"\n        ],\n        \"specification\": [\n          {\n            \"key\": \"\",\n            \"value\": \"\"\n          }\n        ],\n        \"variation\": {\n          \"id\": \"\",\n          \"customColor\": \"\",\n          \"color\": \"\",\n          \"image\": \"\"\n        }\n      },\n      \"customer\": {\n        \"id\": \"\",\n        \"email\": \"\",\n        \"fullName\": \"\",\n        \"phoneNumber\": \"\",\n        \"address\": \"\",\n        \"status\": \"\",\n        \"createdAt\": \"2026-03-16 19:37:10\",\n        \"updatedAt\": \"2026-03-16 19:37:10\"\n      },\n      \"createdAt\": \"yyyy-MM-dd HH:mm:ss\"\n    }\n  ]\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "getOrderItems",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "orderId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-16 19:37:10\"",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "\"2026-03-16 19:37:10\"",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "accountNonExpired"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
[...]
